swagger: '2.0'
info:
  title: London Stock Exchange Group LSEG World-Check One Api-Info Case API
  description: 'The World-Check One API enables developers to integrate the next generation of LSEG screening capabilities into existing workflows and internal systems (such as CRMs) in order to help streamline the processes for on-boarding, KYC and third party due diligence.

    The API provides, among other features:

    - The ability to screen entity names, with or without secondary fields such as date of birth for individuals. These names are called “cases” within the World-Check One system.

    - The ability to retrieve results of the screening process from the World-Check database

    - The ability to flag cases for Ongoing Screening, and retrieve the World-Check results from the Ongoing Screening process.

    - The ability to submit request for reports.

    - The ability to fetch the status of the report requests and download the completed reports.

    > © 2018 - 2023 LSEG. All rights reserved. Republication or redistribution of LSEG content, including by framing or similar means, is prohibited without the prior written consent of LSEG. ''LSEG'' and the LSEG logo are registered trademarks and trademarks of LSEG and its affiliated companies.

    '
  version: 2.61.0
  termsOfService: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
  contact:
    name: LSEG World-Check One API Q&A
    url: https://community.developers.refinitiv.com/index.html
    email: c3r.api1@lseg.com
  license:
    name: Commercial
    url: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
host: api-worldcheck.refinitiv.com
basePath: /v2
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/octet-stream
tags:
- name: Case
  description: Operations for the case domain.
paths:
  /caseIdentifiers:
    head:
      operationId: checkCaseIdentifierAvailability
      tags:
      - Case
      summary: London Stock Exchange Group Check if a given caseId is available for use
      description: 'caseIds must be unique within each Client. If any Group under a Client has a Case with a particular caseId,

        that caseId cannot be reused on another Case within the same Client. This endpoint allows the user to check

        if a given caseId is available to use when creating or updating a Case.

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: caseId
        in: query
        type: string
        required: true
        description: Id to check if it is available to use as a caseId
      responses:
        200:
          description: 'The given caseId is in use within the current user''s Client, therefore is not available to use on a

            different Case.

            '
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          description: 'The given caseId is not found within the current user''s Client, therefore is available to use as a caseId

            on any Case.

            '
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /caseReferences:
    get:
      operationId: getCaseReference
      tags:
      - Case
      summary: London Stock Exchange Group Return the CaseReference (caseId, caseSystemId) for a caseId
      description: 'Returns the CaseReference containing the caseId and caseSystemId pair for an existing Case with the given caseId.

        This is useful if only the caseId is known but caseSystemId is required by other endpoints such as

        `GET /cases/{caseSystemId}`.

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: caseId
        in: query
        type: string
        required: true
        description: Case ID provided by the client or else generated by the system for the client
      responses:
        200:
          description: CaseReference for the given caseId
          schema:
            $ref: '#/definitions/CaseReference'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases:
    post:
      operationId: saveCase
      tags:
      - Case
      summary: London Stock Exchange Group Create a new case
      description: 'Creates a new Case for asynchronous screening. Synchronous screening on the dedicated ZFS gateway host

        via `/cases/screeningRequest` should be used instead of this for Zero Footprint Screening (ZFS).


        **Info about available secondary fields can be found [here](#tag/groups/operation/getCaseTemplateForGroup).**

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: newCase
        in: body
        description: Case to be created
        required: true
        schema:
          $ref: '#/definitions/NewCase'
      responses:
        201:
          description: Case created
          schema:
            $ref: '#/definitions/Case'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        403:
          $ref: '#/responses/Forbidden'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/screeningRequest:
    post:
      operationId: screen
      tags:
      - Case
      summary: London Stock Exchange Group Perform synchronous screening for a new case
      description: "Perform synchronous screening for a new case.\n\nThis endpoint can perform a synchronous screening for a set of valid case details and, if provided,\nset the ongoing screening (OGS) state for the given provider types. The supported provider types for setting\nthe OGS state are WATCHLIST and MEDIA_CHECK. They both can be set to either INITIAL (OGS disabled) or ONGOING\n(OGS enabled) state. You cannot set the OGS state when using Zero Footprint Screening (ZFS) groups.\n\nThe returned result collection contains the regular case result details plus identity documents and important events.\nZFS is enabled by specifying a ZFS group id in the body and is available for dedicated Zero-footprint API customers\nor Regular WC1 API customers using ZFS-specific groups.\n\nThe response may contain Special Interest Categories (SIC) records that depends on the user subscription type.\nThis helps in SIC risk analysis:\n\n  - if a user has subscription type is Premium or Premium Plus, the keywords for SIC subcategories provided\n  in the \"sources\" field and full value of SIC keywords code in the \"categories\" field;\n\n  -  if a user has a Standard subscription type then the \"categories\" field will not contain SIC keywords;\n\n  -  the above behavior is the same for ZFS.\n\nThe example response body includes SIC with Premium or Premium Plus user subscription:\n\n```\n    {\n      \"sources\":[\n        \"b_trwc_M:1TQ\",\n        \"b_trwc_4\"\n      ],\n      \"categories\":[\n        \"Special Interest Categories\",\n        \"Other Bodies\"\n      ]\n    }\n```\n\n**Note:** The maximum number of World-Check screenings (including initial, rescreening, and ZFP ones)\n          that a client can perform in an hour is limited.\n\nWhen using the API care should be taken when using operator words even when combined with an apostrophe,\nfor example the below combinations will cause an error 403 to be returned:\n\n- String ‘AND (String)\n- String ‘OR (String)\n- String ‘AND NOT (String)\n- String ‘OR NOT (String)\n- String ‘AND AS (String)\n- String ‘OR AS (String)\n\n**Info about available secondary fields can be found [here](#tag/groups/operation/getCaseTemplateForGroup).**\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: screeningRequest
        in: body
        description: Screening Request
        required: true
        schema:
          $ref: '#/definitions/ScreeningRequest'
      responses:
        200:
          description: Collection of Screening Results
          schema:
            $ref: '#/definitions/ScreeningResultCollection'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        403:
          $ref: '#/responses/Forbidden'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/{caseSystemId}:
    put:
      operationId: updateExistingCase
      tags:
      - Case
      summary: London Stock Exchange Group Update an existing Case by its caseSystemId
      description: "Updates an existing Case identified by the given caseSystemId. When the case is updated, all the non-empty fields for the case are required to be sent, including the updated field(s). Non-empty fields that are not sent when calling this endpoint will be overwritten as null.\nFor example, if the date of birth for a case need to be updated, existing fields such as nationality, etc. should contain the original values, otherwise it will be updated as null. That is, all the other fields should be included in the body with their existing data. This applies to Custom Fields as well.\n\n**Note:** When updating an existing Case details with Passport-Check details within the API, to check\n          the details in the UI information you must refresh the page to view all updated details.\n\n**Info about available secondary fields can be found [here](#tag/groups/operation/getCaseTemplateForGroup).**\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        type: string
      - name: updateCase
        in: body
        description: Update Case
        required: true
        schema:
          $ref: '#/definitions/UpdateCase'
      responses:
        200:
          description: Case updated
          schema:
            $ref: '#/definitions/Case'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
    patch:
      operationId: partialUpdateCase
      tags:
      - Case
      summary: London Stock Exchange Group Partial update an existing Case by its caseSystemId
      description: "Updates an existing Case identified by the given caseSystemId. When the case is updated, only updated field(s) for the case are required to be sent.\nIf non-empty fields are not sent they will be left untouched.\nCase screening results related to the value provided in Screen query parameter.\nCalling the endpoint without any change in the existing case payload, but retained query parameter screen=SYNC, works as synchronous re-screening.\n\n**Note:** The maximum number of World-Check screenings (including initial, rescreening, and ZFP ones)\n          that a client can perform in an hour is limited.\n\nWhen updating an existing Case details with Passport-Check details within the API, to check\nthe details in the UI information you must refresh the page to view all updated details.\n\n**Info about available secondary fields can be found [here](#tag/groups/operation/getCaseTemplateForGroup).**\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        type: string
      - name: updateCase
        in: body
        description: Update Case
        required: true
        schema:
          $ref: '#/definitions/PartialUpdateCase'
      - name: screen
        in: query
        description: Screen mode
        required: false
        type: string
        enum:
        - NONE
        - SYNC
        - ASYNC
        default: NONE
      responses:
        200:
          description: Case updated
          schema:
            $ref: '#/definitions/ScreeningResultCollection'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        403:
          $ref: '#/responses/Forbidden'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
    get:
      operationId: getCase
      tags:
      - Case
      summary: London Stock Exchange Group Fetch Full Case Details
      description: "Returns full details of the Case identified by the given 'caseSystemId'.\n\n**Note:** A delay of up to 40s after Case is screened is recommended while fetching full Case details with\n          aggregated summaries, although a delay of up to 5s would work in most of the cases. If aggregated\n          summaries return nil stats, a responsible retry mechanism with a maximum of five retries is\n          recommended for the Cases where stats are expected.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        type: string
      - name: aggregatedSummary
        in: query
        description: Flag to enable aggregated summary for case
        required: false
        type: boolean
      responses:
        200:
          description: Case response
          schema:
            $ref: '#/definitions/Case'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
    delete:
      operationId: deleteCase
      tags:
      - Case
      summary: London Stock Exchange Group Delete a Case
      description: "Delete a Case identified by the given caseSystemId. The case must be first archived in order to delete it.\nThe user must be active and have delete permissions. The client must have delete functionality enabled.\n\n**Note:** After successful deletion, a corresponding audit with actionType 'DELETE_CASE' will be saved for the case. \n          All other audits for this case will be deleted within 15 minutes.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        type: string
      responses:
        204:
          description: Case deleted
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/{caseSystemId}/screeningRequest:
    post:
      operationId: screenCase
      tags:
      - Case
      summary: London Stock Exchange Group Request full or delta screening for an existing Case.
      description: "Make a request for screening of the Case identified by the given caseSystemId.\n\nScreening could be synchronous or asynchronous operation. The type of Screening could be full or delta.\n\nIn the case of asynchronous Screening result will return immediately. As a result of this call, \nthe screening request will be queued to be processed. When this request has been processed, there will be a new \n`SCREENED_CASE` audit event that can be queried via `/cases/{caseSystemId}/auditEvents` and then the results \ncan be retrieved via `/cases/{caseSystemId}/results`.\n\nIn the case of a synchronous screening as a result of the call will be returned result collection contains \nthe regular case result details plus identity documents and important events.\n\nDelta Screening performs Screening from the time of the last screening date and shows new results that appeared \nafter the last screening.\n\n**Note:** The maximum number of World-Check screenings (including initial, rescreening, and ZFP ones)\n          that a client can perform in an hour is limited.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format.
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json').
        in: header
        type: string
        required: false
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes).
        in: header
        type: integer
        required: false
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        type: string
      - name: CaseScreeningRequest
        description: Case Screening Request.
        in: body
        required: false
        schema:
          $ref: '#/definitions/CaseScreeningRequest'
      responses:
        200:
          description: Collection of screening results.
          schema:
            $ref: '#/definitions/CaseScreeningResultCollection'
        201:
          description: Screening request successfully queued for asynchronous processing.
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        403:
          $ref: '#/responses/Forbidden'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/{caseSystemId}/ongoingScreening:
    put:
      operationId: enableOngoingScreening
      tags:
      - Case
      summary: London Stock Exchange Group Enable OGS for a Case.
      description: 'Enable Ongoing Screening for the Case identified by the given caseSystemId. This will schedule the Case

        to be re-screened periodically by the system.

        In order to enable Ongoing Screening for multiple or specific provider type fill out an optional request body

        with provider types for which to enable Ongoing Screening. If no request body provided Ongoing Screening request

        will be performed for WATCHLIST provider type.

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format.
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json').
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes).
        in: header
        type: integer
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        type: string
      - name: ongoingScreeningRequest
        in: body
        description: Request containing details to enable Ongoing Screening for Case.
        required: false
        schema:
          $ref: '#/definitions/OngoingScreeningRequest'
      responses:
        204:
          description: Ongoing Screening enabled for Case.
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
    delete:
      operationId: disableOngoingScreening
      tags:
      - Case
      summary: London Stock Exchange Group Disable OGS for a Case.
      description: 'Disable Ongoing Screening for the Case identified by the given caseSystemId.

        In order to disable Ongoing Screening for multiple or specific provider type fill out an optional request body

        with provider types for which to disable Ongoing Screening. If no request body provided Ongoing Screening request

        will be performed for WATCHLIST provider type.

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format.
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json').
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes).
        in: header
        type: integer
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        type: string
      - name: ongoingScreeningRequest
        in: body
        description: Request containing details to disable Ongoing Screening for Case.
        required: false
        schema:
          $ref: '#/definitions/OngoingScreeningRequest'
      responses:
        204:
          description: Ongoing Screening disabled for Case.
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/{caseSystemId}/archive:
    put:
      operationId: archiveCase
      tags:
      - Case
      summary: London Stock Exchange Group Archive a Case.
      description: 'Archive the Case identified by the given caseSystemId. This will put the case into a state from

        which it can be either unarchived or deleted.

        The user must be active and have the archive permission.

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format.
        in: header
        type: string
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        type: string
      responses:
        204:
          description: Case archived.
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
    delete:
      operationId: unarchive
      tags:
      - Case
      summary: London Stock Exchange Group Unarchive a Case
      description: 'Unarchive the Case identified by the given caseSystemId.

        The user must be active and have the archive permission.

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        type: string
      responses:
        204:
          description: Case unarchived
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/bulk/archive:
    post:
      operationId: archiveCases
      tags:
      - Case
      summary: London Stock Exchange Group Bulk Update Archive States
      description: "Bulk Update Archive States of cases identified by the given `caseSystemIds`. The arhive states are updated \naccording to the value specified in the `\"archive\"` field: if set to `true` then all the cases will be updated \nwith the \"archive\" state, otherwise, the \"unarchived\" state will be used.\n\nIn response, the user receives a summary (`\"statuses\"`) of the archiving operation for each case.\n\n*Example HTTP response* below, shows the following summary:\n\n  1. The first case with `\"caseSystemId1\"` has been archived successfully.\n  2. The second case with `\"caseSystemId2\"` has been archived successfully.\n  3. The third case with `\"caseSystemId3\"` has not been archived because it does not meet the validation criteria;\n  `\"error\"` and `\"cause\"` fields contain detailed information on the error.\n\nThe user must be active and have the archive permission.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseBulkArchiveRequest
        in: body
        description: A request on Bulk Update Archive States
        required: true
        schema:
          $ref: '#/definitions/CaseBulkArchiveRequest'
      responses:
        200:
          description: A response on Bulk Update Archive States
          schema:
            $ref: '#/definitions/CaseBulkResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/bulk/assign:
    post:
      operationId: assignCases
      tags:
      - Case
      summary: London Stock Exchange Group Bulk Update Case Assignments
      description: "Bulk Update Case Assignments, where `Case`s are identified by the given `caseSystemIds` and assignee `User` \nis identified by the given `userId` (in case of assigning action). The case assignements are updated according \nto the value specified in the `\"userId\"` field: if set to `null` or is absent then the bulk unassigning action \nhappens, otherwise, the bulk assigning to the `User` identified by the given `userId` action \nis performed.\n\nIn response, the user receives a summary (`\"statuses\"`) of the assigning/unassigning operation for each case.\n\n*Example HTTP response* below, shows the following summary:\n\n  1. The first case with `\"caseSystemId1\"` has been assigned successfully.\n  2. The second case with `\"caseSystemId2\"` has been assigned successfully.\n  3. The third case with `\"caseSystemId3\"` has not been assigned because it does not meet the validation criteria;\n  `\"error\"` and `\"cause\"` fields contain detailed information on the error.\n\nThe user must be active and have the archive permission.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseBulkAssignRequest
        in: body
        description: A request on Bulk Update Case Assignments
        required: true
        schema:
          $ref: '#/definitions/CaseBulkAssignRequest'
      responses:
        200:
          description: A response on Bulk Update Case Assignments
          schema:
            $ref: '#/definitions/CaseBulkResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/bulk/delete:
    post:
      operationId: deleteCases
      tags:
      - Case
      summary: London Stock Exchange Group Bulk Delete Cases
      description: "Bulk Delete Cases identified by the given `caseSystemIds`. The cases must be first archived in order to delete them.\nThe user must be active and have delete permissions. The client must have delete functionality enabled.\n\nIn response, the user receives a summary (`\"statuses\"`) of the archiving operation for each case.\n\n*Example HTTP response* below, shows the following summary:\n\n  1. The first case with `\"caseSystemId1\"` has been deleted successfully.\n  2. The second case with `\"caseSystemId2\"` has been deleted successfully.\n  3. The third case with `\"caseSystemId3\"` has not been deleted because it does not meet the validation criteria;\n  `\"error\"` and `\"cause\"` fields contain detailed information on the error.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseBulkDeleteRequest
        in: body
        description: A request on Bulk Delete Cases
        required: true
        schema:
          $ref: '#/definitions/CaseBulkDeleteRequest'
      responses:
        200:
          description: A response on Bulk Delete Cases
          schema:
            $ref: '#/definitions/CaseBulkResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/bulk/move:
    post:
      operationId: updateCasesOwner
      tags:
      - Case
      summary: London Stock Exchange Group Bulk Move Cases Between Groups
      description: "Bulk Move Cases identified by the given `caseSystemIds` to the `Group` identified by the given `groupId`.\nThe user must be active and have move cases between groups permissions. The client must have move cases functionality enabled.\nThe current Group and the destination Group should contain identical custom fields. Cases can not be moved to ZFS group.\n\nIn response, the user receives a summary (`\"statuses\"`) of the moving cases operation for each case.\n\n*Example HTTP response* below, shows the following summary:\n\n  1. The first case with `\"caseSystemId1\"` has been moved successfully.\n  2. The second case with `\"caseSystemId2\"` has been moved successfully.\n  3. The third case with `\"caseSystemId3\"` has not been moved because it does not meet the validation criteria;\n  `\"error\"` and `\"cause\"` fields contain detailed information on the error.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseBulkMoveRequest
        in: body
        description: A request on Bulk Move Cases
        required: true
        schema:
          $ref: '#/definitions/CaseBulkMoveRequest'
      responses:
        200:
          description: A response on Bulk Move Cases
          schema:
            $ref: '#/definitions/CaseBulkResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/bulk/ongoingScreening:
    post:
      operationId: toggleOngoingScreeningByProviderTypes
      tags:
      - Case
      summary: London Stock Exchange Group Bulk Update Ongoing Screening States
      description: "Bulk Update Ongoing Screening (OGS) States of cases with provided `caseSystemIds` and `ProviderType`s specified in \n`caseScreeningState`. Ongoing screening can be performed for MEDIA_CHECK and WATCHLIST provider types.\nThe user must be active and have CASE_OGS permissions.\n\nIn response, the user receives a summary (`\"statuses\"`) of the World-Check/Media-Check Ongoing Screening operation for each case.\n\n*Example HTTP response* below, shows the following summary:\n\n  1. Watchlist Ongoing Screening successfully enabled for the first case with `\"caseSystemId1\"`.\n  2. Media Check Ongoing Screening successfully disabled for the second case with `\"caseSystemId2\"`.\n  3. World-Check/Media-Check Ongoing Screening operation can not be performed for the third case with `\"caseSystemId3\"` because it does not meet the validation criteria;\n  `\"error\"` and `\"cause\"` fields contain detailed information on the error.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseBulkOngoingScreeningRequest
        in: body
        description: A request on Bulk Update Ongoing Screening States
        required: true
        schema:
          $ref: '#/definitions/CaseBulkOngoingScreeningRequest'
      responses:
        200:
          description: A response on Bulk Update Ongoing Screening States
          schema:
            $ref: '#/definitions/CaseBulkResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/bulk/link:
    post:
      operationId: linkCases
      tags:
      - Case
      summary: London Stock Exchange Group Bulk Update Case Links
      description: "Bulk Update Case Links for `Case`s with provided `caseSystemIds` and `relationshipTypes` specified in \n`relationshipType` field. The case links are updated according to the value specified in the \"link\" field: \nif set to `true` then the link bulk action happens, otherwise, the unlinking is performed.\n\nIn response, the user receives a summary (`\"statuses\"`) of the Link/Unlink operation for each case.\n\n*Example HTTP response* below, shows the following summary:\n\n  1. The first case with `\"caseSystemId1\"` was linked/unlinked successfully.\n  2. The second case with `\"caseSystemId2\"` was linked/unlinked successfully.\n  3. Link/Unlink operation can not be performed for the third case with `\"caseSystemId3\"` because it does not meet the validation criteria;\n  `\"error\"` and `\"cause\"` fields contain detailed information on the error.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseBulkLinkRequestCollection
        in: body
        description: A request on Bulk Update Case Links
        required: true
        schema:
          $ref: '#/definitions/CaseBulkLinkRequestCollection'
      responses:
        200:
          description: A response on Bulk Update Case Links
          schema:
            $ref: '#/definitions/CaseBulkResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/{caseSystemId}/results:
    get:
      operationId: getResults
      tags:
      - Case
      summary: London Stock Exchange Group Get collection of Results for a Case by its caseSystemId
      description: "Return a collection of Results for the Case identified by the given caseSystemId.\nThe response may contain Special Interest Categories (SIC) records that depends on the user subscription type. This helps in SIC risk analysis:\nIf a user has subscription type is Premium or Premium Plus, the keywords for SIC subcategories provided in the \"sources\" field and full value of\nSIC keywords code in the \"categories\" field.\nIf a user has a Standard subscription type then the \"categories\" field will not contain SIC keywords.\nThe above behavior is the same for Zero Footprint Screening (ZFS).\n\nThe example response body includes SIC with Premium or Premium Plus user subscription:\n\n```\n    {\n      \"sources\":[\n        \"b_trwc_M:1TQ\",\n        \"b_trwc_4\"\n      ],\n      \"categories\":[\n        \"Special Interest Categories\",\n        \"Other Bodies\"\n      ]\n    }\n```\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for a Case
        required: true
        type: string
      responses:
        200:
          description: Collection of Results
          schema:
            type: array
            items:
              $ref: '#/definitions/Result'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/{caseSystemId}/results/review:
    put:
      operationId: reviewResults
      tags:
      - Case
      summary: London Stock Exchange Group Add a review remark to the specified result IDs for the given case
      description: Add a review remark to the specified result IDs for the given case.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        type: string
      - name: resultsReview
        in: body
        description: Object representing the IDs to be reviewed, and the review remark
        required: true
        schema:
          $ref: '#/definitions/ResultsReview'
      responses:
        204:
          description: All result IDs were successfully updated
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/{caseSystemId}/results/resolution:
    put:
      operationId: resolveResults
      tags:
      - Case
      summary: London Stock Exchange Group Resolves a list of results.
      description: 'Resolves a list of results for the Case identified by the given caseSystemId.

        The endpoint for the resolution toolkit ''/groups/{groupId}/resolutionToolkit'' provides the resolution rules

        to be applied when resolving results of any [Case](#Case) within a specific [Group](#Group).


        Any resultIds which relate to records that have been removed from World-Check One can only be resolved as FALSE.

        '
      parameters:
      - name: Authorization
        in: header
        type: string
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        required: true
      - name: Date
        in: header
        type: string
        description: The date and time at which the message was originated in 'RFC 1123' format.
        required: true
      - name: Content-Type
        in: header
        type: string
        description: The media type of the request (e.g., 'application/json').
        required: true
      - name: Content-Length
        in: header
        type: integer
        description: The length of the request body in octets (8-bit bytes).
        required: true
      - name: caseSystemId
        in: path
        type: string
        description: System generated ID for the Case.
        required: true
      - name: resultsResolutionAction
        in: body
        description: 'Represents the request details required for resolving Results.


          **Note:** Fields ''reasonId'' and ''resolutionRemark'' are required **ONLY** if they are specified accordingly

          in the configuration settings.

          '
        required: true
        schema:
          $ref: '#/definitions/ResultsResolutionAction'
      responses:
        204:
          description: Results resolved.
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/ongoingScreeningUpdates:
    post:
      operationId: getOngoingScreeningUpdates
      tags:
      - Case
      summary: London Stock Exchange Group Get ongoing screening updates.
      description: "Get ongoing screening updates for all `Case` objects that are visible to the current user and are flagged for\nongoing screening.\n\nFilter and sort the ongoing screening updates in the response by:\n\n  **updateDate**: The date and time of this ongoing screening update in ISO 8601 format (excluding Week and\n  Ordinal dates).  Required.\n\n  **providerType**: Ongoing screening provider type to query for results. Optional.\n\n  e.g. Filter body that specifies the page size to be `50` and queries the first page of ongoing screening updates\n  for WATCHLIST and MEDIA_CHECK provider types occurred since `2016-07-26T00:00:00Z` sorted by `updateDate` in `DESCENDING` order:\n\n    {\n      \"query\": \"updateDate>='2016-07-26T00:00:00Z', providerType==WATCHLIST, providerType==MEDIA_CHECK\",\n      \"sort\": [\n        {\n          \"columnName\": \"updateDate\",\n          \"order\": \"DESCENDING\"\n        }\n      ],\n      \"pagination\": {\n        \"currentPage\": 1,\n        \"itemsPerPage\": 50\n      }\n    }\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: filter
        in: body
        description: Filter and sort the ongoing screening updates in the response.
        required: true
        schema:
          $ref: '#/definitions/Filter'
      responses:
        200:
          description: Ongoing screening update search response.
          schema:
            $ref: '#/definitions/OngoingScreeningUpdateSearchResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/{caseSystemId}/assignee:
    put:
      operationId: assignCase
      tags:
      - Case
      summary: London Stock Exchange Group Assign the Case to a User.
      description: 'Assign the Case to a User. ''/users'' endpoint provides the active users

        that a Case can be assigned to.

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        type: string
      - name: assignee
        in: body
        description: User to whom the case will be assigned.
        required: true
        schema:
          $ref: '#/definitions/Assignee'
      responses:
        204:
          description: The case has been assigned successfully.
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
    delete:
      operationId: unassignCase
      tags:
      - Case
      summary: London Stock Exchange Group Unassign a Case.
      description: Once you have assigned the case to the User, you can now unassign the same case.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        type: string
      responses:
        204:
          description: The case has been unassigned successfully.
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/search:
    post:
      operationId: searchCases
      tags:
      - Case
      summary: London Stock Exchange Group Search for Cases based on specified criteria using filter or query parameters.
      description: "Search for Cases based on specified criteria using filter or query parameters.\n\nThis endpoint allows you to find cases that match your search criteria. \nYou can provide these criteria through the [CaseSearchRequest](#CaseSearchRequest) object, which includes 'query' and 'filter' fields. \nExpressions in 'query' and 'filter' must adhere to the Atom Feed Item Query Language (FIQL), \nwhich is documented in [RFC 4288](https://tools.ietf.org/html/rfc4288) and the superset supported by the WC1 API, \nas documented in [WC1 API Query Language](https://github.com/jirutka/rsql-parser).\n\n**Note:** To learn about the available search fields and their usage, you can use the `GET /reference/searchFilters` endpoint.\n\nResponse details can be customized using the 'detailLevel' field:\n  - 'CASE': The search response will provide full Case details.\n  - 'CASE_AND_RESULTS': The search response will include Сase details and Result summary related to this Case.\n  - 'CASE_AND_AGGREGATED_RESULTS': The search response will provide full Case details with an aggregated Result summary, summarizing data from primary and sub-cases.\n  - 'CASE_AND_RESULTS_AND_AGGREGATED_RESULTS': The search response will provide full Case details with a Result and aggregated(summarizing data from primary and sub-cases) summaries.\n\nNumber of results can be controlled through 'pagination' and 'sort' fields.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format.
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json').
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes).
        in: header
        type: integer
        required: true
      - name: caseSearchRequest
        description: The request containing search criteria.
        in: body
        required: true
        schema:
          $ref: '#/definitions/CaseSearchRequest'
      responses:
        200:
          description: A set of Cases that match the specified criteria.
          schema:
            $ref: '#/definitions/CaseSearchResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/summaries:
    post:
      operationId: retrieveCaseSummaries
      tags:
      - Case
      summary: London Stock Exchange Group User activity monitoring. Initial request.
      description: "Return a collection of Cases that were modified by users in particular date range.\nEndpoint allow to initiate search and retrieve the first page of result set.\nThe query supports next field to specify searching criteria:\n\n'modificationDate' - Time when the case has been modified by the user;\n\n'assignedUserId' - Identifier of the User cases are assigned to;\n\n'groupId' - Identifier of the Group that owns the case;\n\n'creatorUserId' - Identifier of the case author;\n\n'modifierUserId' - Identifier of the recent changes author;\n\n'creationDate' - Time when the case has been created.\n\nTo retrieve the next set of results please use '/cases/summaries/cursor' endpoint.\n\n**Note:** Cursor lifespan keeps extending if the cursor is accessed within its current lifespan.\n          For example, once the cursor-id is generated using `POST /cases/summaries` endpoint, its lifespan is 60secs\n          from there. Within that 60secs, if `POST /cases/summaries/cursor` endpoint is called, it extends the\n          lifespan of the cursor to another 60secs from the point that call is made – and so on. If there are\n          no subsequent calls to `POST /cases/summaries/cursor` endpoint using the same cursor within 60secs, cursor\n          will expire.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: filter
        in: body
        description: The "query" is a FIQL expression which allows specifying comparison expression on case fields and it also allows specifying boolean operators AND/OR. The "sort" allows specifying items order in the response. The "cursorOptions" allows specifying count of items in the first response.
        required: true
        schema:
          $ref: '#/definitions/CaseSummaryFilter'
      responses:
        200:
          description: Case search response.
          schema:
            $ref: '#/definitions/CaseSearchResultResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/summaries/cursor:
    post:
      operationId: scrollCaseSummaries
      tags:
      - Case
      summary: London Stock Exchange Group User activity monitoring. Subsequent request.
      description: "Continue loading result sets by cursor ID retrieved from POST/cases/summaries.\n\n**Note:** Cursor lifespan keeps extending if the cursor is accessed within its current lifespan.\n          For example, once the cursor-id is generated using `POST /cases/summaries` endpoint, its lifespan is 60secs\n          from there. Within that 60secs, if `POST /cases/summaries/cursor` endpoint is called, it extends the\n          lifespan of the cursor to another 60secs from the point that call is made – and so on. If there are\n          no subsequent calls to `POST /cases/summaries/cursor` endpoint using the same cursor within 60secs, cursor\n          will expire.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: cursor
        in: body
        description: Request to continue cases retrieval.
        required: true
        schema:
          $ref: '#/definitions/Cursor'
      responses:
        200:
          description: Case search response.
          schema:
            $ref: '#/definitions/CaseSearchResultResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/saveAndScreen:
    post:
      operationId: saveAndScreenCases
      tags:
      - Case
      summary: London Stock Exchange Group Save and screen multiple cases.
      description: "Save and screen multiple cases for the given group Id. Caller may include multiple cases with up to 50 entities in a single request (see *Example HTTP request* below).\nIn response, the caller receives a summary of the creation operation for each case.\n\n*Example HTTP response* below, shows the following summary:\n\n  1. The first case has been created successfully.\n  2. The second case has not been created successfully because it does not meet the validation criteria;\n   \"errors\" and \"cause\" fields contain detailed information.\n\n**Example HTTP response**\n\n```\n  [\n      {\n          \"name\": \"Name 1\",\n          \"caseId\": \"Case ID 1\",\n          \"caseSystemId\": \"Case System ID 1\",\n          \"nameTransposition\": true,\n          \"caseScreeningState\": {\n              \"WATCHLIST\": \"INITIAL\"\n          }\n      },\n      {\n          \"name\": \"Name 2\",\n          \"caseId\": \"Case ID 2\",\n          \"errors\": [\n              {\n                  \"error\": \"CASE_ID_EXISTS\",\n                  \"cause\": \"Case IDs must be unique within the same client and request.\"\n              }\n          ]\n      }\n  ]\n```\n\n**Note:** The maximum number of World-Check screenings (including initial, rescreening, and ZFP ones)\n          that a client can perform in an hour is limited.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseDetailsCollection
        in: body
        description: Container of cases that is used in scope of creation operation.
        required: true
        schema:
          $ref: '#/definitions/CaseDetailsCollection'
      responses:
        200:
          description: 'If the request passed general validation, the caller receives response with CaseReference list,

            with summaries for each case located in payload.

            '
          schema:
            type: array
            items:
              $ref: '#/definitions/CaseReferenceDetails'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        403:
          $ref: '#/responses/Forbidden'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /cases/screeningStatus:
    post:
      operationId: screeningStatus
      tags:
      - Case
      summary: London Stock Exchange Group Retrieve case screening status and aggregated result for multiple cases.
      description: "Retrieve case screening statuses and aggregated results. Caller may include multiple cases with up to 50 entities in a single request (see *Example HTTP request* below).\nIn response, the caller receives a status and aggregated screening results for each case.\n\n**Example HTTP response**\n\n```\n  Response example returned for request not containing \"providerTypes\" field.\n  [\n      {\n          \"caseSystemId\": \"Case System ID 1\",\n          \"screeningStatus\": \"SCREENED\",\n          \"requestFromScreenedDate\": \"2020-10-24T11:40:21.517Z\",\n          \"lastScreenedDate\": \"2019-12-16T14:44:15.582Z\",\n          \"providerSummaries\": {\n              \"WATCHLIST\": {\n                  \"totalMatches\": 38,\n                  \"reviewRequired\": 0,\n                  \"unresolved\": 35\n              }\n          }\n      },\n      {\n          \"caseSystemId\": \"Case System ID 2\",\n          \"screeningStatus\": \"NOT_SCREENED\",\n          \"requestFromScreenedDate\": \"2020-10-24T11:40:21.517Z\",\n          \"providerSummaries\": {\n              \"WATCHLIST\": {\n                  \"totalMatches\": 0,\n                  \"reviewRequired\": 0,\n                  \"unresolved\": 0\n              },\n              \"PASSPORT_CHECK\": {\n                  \"isReviewRequired\": false\n              }\n          }\n      },\n      {\n          \"caseSystemId\": \"Case System ID 3\",\n          \"screeningStatus\": \"SCREENED\",\n          \"requestFromScreenedDate\": \"2019-10-24T11:40:21.517Z\",\n          \"lastScreenedDate\": \"2019-12-20T08:25:32.146Z\",\n          \"providerSummaries\": {\n              \"WATCHLIST\": {\n                  \"totalMatches\": 625,\n                  \"reviewRequired\": 0,\n                  \"unresolved\": 618\n              }\n          }\n      }\n  ]\n\n  Response example returned for request containing \"providerTypes\" field.\n  [\n      {\n          \"caseSystemId\": \"Case System ID 1\",\n          \"requestFromScreenedDate\": \"2020-10-24T11:40:21.517Z\",\n          \"lastScreenedDate\": \"2019-12-16T14:44:15.582Z\",\n          \"providerSummaries\": {\n              \"WATCHLIST\": {\n                  \"status\": \"SCREENED\",\n                  \"totalMatches\": 38,\n                  \"reviewRequired\": 0,\n                  \"unresolved\": 35\n              }\n          }\n      },\n      {\n          \"caseSystemId\": \"Case System ID 2\",\n          \"requestFromScreenedDate\": \"2020-10-24T11:40:21.517Z\",\n          \"providerSummaries\": {\n              \"WATCHLIST\": {\n                  \"status\": \"SCREENED\",\n                  \"totalMatches\": 0,\n                  \"reviewRequired\": 0,\n                  \"unresolved\": 0\n              },\n              \"PASSPORT_CHECK\": {\n                  \"isReviewRequired\": false\n              }\n          }\n      },\n      {\n          \"caseSystemId\": \"Case System ID 3\",\n          \"requestFromScreenedDate\": \"2019-10-24T11:40:21.517Z\",\n          \"lastScreenedDate\": \"2019-12-20T08:25:32.146Z\",\n          \"providerSummaries\": {\n              \"WATCHLIST\": {\n                  \"status\": \"SCREENED\",\n                  \"totalMatches\": 625,\n                  \"reviewRequired\": 0,\n                  \"unresolved\": 618\n              },\n              \"MEDIA_CHECK\": {\n                  \"status\": \"SCREENED\",\n                  \"isReviewRequired\":\n              }\n          }\n      }\n  ]\n```\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseScreeningStatus
        in: body
        description: Allows to specify cases and their screening dates that are using to define the screening status.
        required: true
        schema:
          $ref: '#/definitions/ScreeningStatusRequestCollection'
      responses:
        200:
          description: 'If the request passed general validation, the caller receives a response with screening status and aggregated results for each case in the payload.

            '
          schema:
            type: array
            items:
              $ref: '#/definitions/ScreeningStatusResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
definitions:
  CaseBulkLinkRequestCollection:
    type: object
    description: A request body on Bulk Update Case Links
    required:
    - link
    - relationshipType
    - caseSystemIds
    properties:
      link:
        type: boolean
        description: A flag indicating whether to Bulk Link (`true`) or Unlink (`false`) Cases.
      relationshipType:
        type: string
        description: Relationship type between cases.
        enum:
        - SUBCASE_TO_PRIMARY
        - PRIMARY_TO_SUBCASE
      caseSystemIds:
        type: array
        description: An array of case bulk link requests
        items:
          $ref: '#/definitions/CaseBulkLinkRequest'
      note:
        type: string
        maxLength: 1000
        description: Note added by the user.
    example:
      link: true
      relationshipType: SUBCASE_TO_PRIMARY
      caseSystemIds:
      - caseSystemId: caseSystemId1
      - relatedCaseSystemIds:
        - caseSystemId2
        - caseSystemId3
        - caseSystemId4
      - caseSystemId: caseSystemId5
      - relatedCaseSystemIds:
        - caseSystemId6
        - caseSystemId7
        - caseSystemId8
      note: Audit note
  ProviderSourceType:
    type: object
    properties:
      category:
        $ref: '#/definitions/ProviderSourceTypeCategoryDetail'
      identifier:
        type: string
      name:
        type: string
  AbstractAssociate:
    type: object
    description: 'The `AbstractAssociate` subclasses corresponding to each type of entity are:


      * `COUNTRY`: `CountryAssociate`

      * `INDIVIDUAL`: `IndividualAssociate`

      * `ORGANISATION`: `OrganisationAssociate`

      * `VESSEL`: `VesselAssociate`

      '
    discriminator: associateEntityType
    required:
    - associateEntityType
    - entityType
    properties:
      associateEntityType:
        type: string
        description: Discriminator field. Might go away in a future major version of the API
      entityType:
        type: string
        description: 'Profile Entity Type Enumeration.


          The `Entity` subclasses corresponding to each type of entity are:


          * `COUNTRY` : `CountryEntity`

          * `INDIVIDUAL` : `IndividualEntity`

          * `ORGANISATION` : `OrganisationEntity`

          * `VESSEL` : `VesselEntity`

          '
        enum:
        - COUNTRY
        - INDIVIDUAL
        - ORGANISATION
        - VESSEL
      reversed:
        type: boolean
        default: false
      targetEntityId:
        type: string
      targetExternalImportId:
        type: string
      type:
        type: string
        description: Associate Type Enumeration
        default: UNKNOWN
        enum:
        - ADVISOR
        - AGENT_REPRESENTATIVE
        - AFFILIATED_COMPANY
        - AFFILIATED_ORGANIZATION
        - AFFILIATED_POSITION
        - ASSET
        - ASSISTANT
        - ASSOCIATE
        - ASSOCIATED_SPECIAL_INTEREST_PERSON
        - AUNT
        - BANKER
        - BRANCH_OFFICE
        - BROTHER
        - BROTHER_IN_LAW
        - BUSINESS_ASSOCIATE
        - CHILD
        - CLIENT
        - COLLEAGUE
        - COUSIN
        - CO_DEFENDANT
        - DAUGHTER
        - DAUGHTER_IN_LAW
        - DIRECTOR
        - DOC_COMPANY
        - EMPLOYEE
        - EMPLOYER
        - EXECUTIVE
        - EX_HUSBAND
        - EX_WIFE
        - FAMILY
        - FAMILY_MEMBER
        - FATHER
        - FATHER_IN_LAW
        - FINANCIAL_ADVISOR
        - FRIEND
        - FRONT_COMPANY
        - GRANDDAUGHTER
        - GRANDFATHER
        - GRANDMOTHER
        - GRANDSON
        - GRAND_CHILD
        - GROUP_BENEFICIAL_OWNER
        - HUSBAND
        - KEY_MEMBER
        - LEGAL_ADVISOR
        - MISC
        - MOTHER
        - MOTHER_IN_LAW
        - NEPHEW
        - NIECE
        - NOMINEE
        - OPERATOR
        - OWNER
        - PARENT
        - POLITICAL_ADVISOR
        - REGISTERED_OWNER
        - RELATIVE
        - SAME_SEX_SPOUSE
        - SENIOR_OFFICIAL
        - SHAREHOLDER_OWNER
        - SHIP_MANAGER
        - SISTER
        - SISTER_IN_LAW
        - SON
        - SON_IN_LAW
        - SPOUSE
        - STEP_DAUGHTER
        - STEP_SON
        - STEPFATHER
        - STEPMOTHER
        - SUBSIDIARY
        - TECHNICAL_MANAGER
        - UNCLE
        - UNKNOWN
        - UNMARRIED_PARTNER
        - WIFE
      targetPrimaryName:
        type: string
      creationDate:
        type: string
        format: date-time
      modificationDate:
        type: string
        format: date-time
      updateCategory:
        type: string
        description: Entity Update Category Enumeration
        enum:
        - C1
        - C2
        - C3
        - C4
        - C6
        - UNKNOWN
      category:
        type: string
      targetCategories:
        type: array
        description: List of names of [ProviderSourceTypeCategoryDetail](#ProviderSourceTypeCategoryDetail) in sources of target Entity.
        uniqueItems: true
        items:
          type: string
  EntityType:
    type: string
    description: Entity type of the case.
    enum:
    - INDIVIDUAL
    - ORGANISATION
    - VESSEL
    - COUNTRY
  CursorOptions:
    type: object
    properties:
      itemsPerPage:
        type: integer
        description: Required parameter, with validation min value 1, max value 1000 which allows to define items per page in the response.
        format: int64
  CaseBulkStatus:
    type: object
    description: Case Bulk Status
    required:
    - caseSystemId
    - success
    properties:
      caseSystemId:
        type: string
        description: System generated ID for the Case
      success:
        type: boolean
        description: Indicates the result of Case Archiving / Unarchiving action
        example: true
      errors:
        type: array
        description: A set of validation errors
        items:
          $ref: '#/definitions/Error'
  ProviderTypeSummaryResult:
    type: object
    description: 'Contains enabled in the case provider types and their aggregated screening results.

      '
    properties:
      status:
        type: string
        description: Case Screening State Enumeration representing type of Screening.
        enum:
        - NOT_SCREENED
        - SCREENED
      totalMatches:
        type: integer
        format: int64
        example: 10
        description: Total mathes for provider type.
      reviewRequired:
        type: integer
        format: int64
        example: 10
        description: Review required for provider type.
      isReviewRequired:
        type: boolean
        example: true
        description: Identifies whether a review is required for the provider type.
      unresolved:
        type: integer
        format: int64
        example: 10
        description: Unresolved for provider type.
  TranslatedEntity:
    type: object
    description: Representation of translated entity.
    properties:
      translationDisclaimer:
        type: string
        description: Disclaimer for Translation Response.
      details:
        type: array
        description: A collection of translated entity details.
        items:
          $ref: '#/definitions/Detail'
  WatchlistResultSummary:
    type: object
    description: Match summary for results with provider type WATCHLIST
    properties:
      watchlistTotalMatches:
        type: integer
        format: int32
        description: Field contains watch list total matches count
      watchlistUnresolved:
        type: integer
        format: int32
        description: Field contains count of watch list unresolved
      watchlistReviewRequired:
        type: integer
        format: int32
        description: Field contains count of watch list review required
      categorisedMatches:
        type: object
        additionalProperties:
          type: object
          additionalProperties:
            type: integer
  PaginationResponse:
    type: object
    description: Outbound - used to describe paginated partial result sets
    allOf:
    - $ref: '#/definitions/Pagination'
    - properties:
        totalItems:
          type: integer
          format: int64
  AbstractScreeningResult:
    type: object
    description: Generic common Result fields returned after a Case is screened
    required:
    - referenceId
    properties:
      resultId:
        type: string
        maxLength: 255
        description: Result identifier
      referenceId:
        type: string
        description: The reference ID of the matched Entity
        maxLength: 255
      matchStrength:
        type: string
        description: Matched Result Strength
        enum:
        - WEAK
        - MEDIUM
        - STRONG
        - EXACT
      matchScore:
        type: number
        description: the exact match score with value rounded to 2 decimal places
        format: double
      matchedTerm:
        type: string
        description: Matched term for the Result. DEPRECATED in flavour of matchedTerms field
        maxLength: 1000
      matchedTerms:
        type: array
        description: List of matched terms for the result with resultId.
        items:
          $ref: '#/definitions/MatchedTerm'
      submittedTerm:
        type: string
        description: Submitted term for the Result
        maxLength: 1000
      matchedNameType:
        type: string
        description: Watchlist Profile Name Type enumeration. DEPRECATED in flavour of matchedTerms field
        enum:
        - PRIMARY
        - AKA
        - AKAENHANCED
        - FKA
        - DBA
        - MAIDEN
        - LANG_VARIATION
        - PREVIOUS
        - VEHICLE_ID
        - LOW_QUALITY_AKA
        - NATIVE_AKA
        - DOCUMENT_ID
      secondaryFieldResults:
        type: array
        description: Match results for Case secondary fields.
        items:
          $ref: '#/definitions/SecondaryFieldResult'
      sources:
        type: array
        description: 'Set of [ProviderSource](#ProviderSource)s, each of which contains this Result''s Entity and was used to screen

          the Case when this Result was last found.

          '
        items:
          type: string
          description: '[ProviderSource] (#ProviderSource) Identifier.

            '
      categories:
        type: array
        description: 'Set of [ProviderSourceTypeCategory] (#ProviderSourceTypeCategoryDetail) names of this Result''s sources.

          '
        items:
          type: string
          description: '[ProviderSourceTypeCategory] (#ProviderSourceTypeCategoryDetail) Name.

            '
      creationDate:
        type: string
        format: date-time
        description: Result creation date and time.
      modificationDate:
        type: string
        format: date-time
        description: Result modification date and time.
      lastAlertDate:
        type: string
        format: date-time
        description: Last alert date of the matched result term.
      modifier:
        description: The modifier of the matched result term.
        $ref: '#/definitions/UserSummary'
      resolution:
        $ref: '#/definitions/Resolution'
      resultReview:
        $ref: '#/definitions/Review'
  CaseDetails:
    type: object
    description: 'Representation of a single case that is used for case creation operation.

      Defines Case data that can be sent when creating a new Case.

      '
    required:
    - entityType
    - name
    properties:
      caseId:
        type: string
        description: Case ID provided by the client. This is auto-generated by the system if not provided.
        maxLength: 512
      entityType:
        type: string
        description: Case Entity Type Enumeration.
        enum:
        - INDIVIDUAL
        - ORGANISATION
        - VESSEL
        - UNSPECIFIED
      name:
        type: string
        description: Name to screen for this case.
        maxLength: 1000
      customFields:
        type: array
        description: 'Case Custom Fields. Available custom fields and their definitions can be obtained via

          `groups/{groupId}/caseTemplate`.

          '
        items:
          $ref: '#/definitions/Field'
      secondaryFields:
        type: array
        description: 'Case Secondary Fields. Available secondary fields and their definitions can be obtained via

          `groups/{groupId}/caseTemplate`.

          '
        items:
          $ref: '#/definitions/Field'
    example:
      caseId: Client Case Id
      entityType: INDIVIDUAL
      name: John Smith
      customFields:
      - typeId: Custom Field Id 1
        value: Reference ID 1234567
      - typeId: Custom Field Id 2
        value: Deal Id 1234567
      secondaryFields:
      - typeId: SFCT_1
        value: MALE
      - typeId: SFCT_2
        dateTimeValue: '1990-11-20'
  CaseScreeningResultCollection:
    type: object
    description: Contains an array of Watchlist Screening Result objects from a synchronous screening operation.
    properties:
      case:
        type: object
        description: Contains the Case data.
        $ref: '#/definitions/Case'
      results:
        type: array
        description: Contains the Screening Result objects of the screening.
        items:
          $ref: '#/definitions/Result'
  SearchResponse:
    type: object
    description: Common fields used in search responses.  These fields are included in response types, and objects of this type are not returned directly.
    required:
    - totalResultCount
    properties:
      query:
        type: string
      sort:
        type: array
        description: The sort critieria to apply to the query
        items:
          $ref: '#/definitions/SortCriterion'
      pagination:
        $ref: '#/definitions/PaginationResponse'
      totalResultCount:
        type: integer
        format: int64
  Pagination:
    type: object
    description: Inbound - the pagination to apply to the query.
    required:
    - currentPage
    - itemsPerPage
    properties:
      currentPage:
        type: integer
        format: int32
      itemsPerPage:
        type: integer
        format: int32
  Error:
    type: object
    required:
    - error
    - cause
    properties:
      error:
        type: string
      cause:
        type: string
      objectId:
        type: string
  CaseEntityType:
    type: string
    description: Case entity type enumeration.
    enum:
    - INDIVIDUAL
    - ORGANISATION
    - VESSEL
    - UNSPECIFIED
  CaseBulkDeleteRequest:
    type: object
    description: A request body on Bulk Delete Cases
    required:
    - caseSystemIds
    properties:
      caseSystemIds:
        type: array
        description: An array of system generated Ids for the Cases
        items:
          type: string
          description: System generated Id for the Case
      note:
        type: string
        maxLength: 1000
        description: Note added by the user.
    example:
      caseSystemIds:
      - caseSystemId1
      - caseSystemId2
      - caseSystemId3
      note: Audit note
  CaseBulkAssignRequest:
    type: object
    description: A request body on Bulk Update Case Assignments
    required:
    - caseSystemIds
    properties:
      userId:
        type: string
        description: User to whom the cases will be assigned, or `"UNASSIGN"` when unassign action is expected
      caseSystemIds:
        type: array
        description: An array of system generated Ids for the Cases
        items:
          type: string
          description: System generated Id for the Case
      note:
        type: string
        maxLength: 1000
        description: Note added by the user.
    example:
      userId: userId
      caseSystemIds:
      - caseSystemId1
      - caseSystemId2
      - caseSystemId3
      note: Audit note
  ProviderSource:
    type: object
    required:
    - abbreviation
    - identifier
    - name
    - providerSourceStatus
    - type
    properties:
      abbreviation:
        type: string
        description: Abbreviated form of this source's `name`.
      creationDate:
        type: string
        format: date-time
      identifier:
        type: string
        description: An alphanumeric value
      importIdentifier:
        type: string
      name:
        type: string
        description: Full name of this source.
        maxLength: 255
      provider:
        description: Provider for this source.
        $ref: '#/definitions/Provider'
      providerSourceStatus:
        type: string
        description: Provider Source Status Enumeration
        enum:
        - ACTIVE
        - DELETED
        - HIDDEN
      regionOfAuthority:
        type: string
      subscriptionCategory:
        type: string
        description: Subscription Category Type Enumeration
        default: STANDARD
        enum:
        - PREMIUM
        - STANDARD
      modificationDate:
        type: string
        description: "Modification date of source. This field is updated only when there is a change in either source name \nor description. This field does not capture any updates to the underlying records that are added/deleted \nto/from the source.\n"
        format: date-time
      description:
        type: string
        description: Description of the source.
      type:
        $ref: '#/definitions/ProviderSourceType'
  CaseSummaryFilterResponse:
    type: object
    description: Filter the response
    properties:
      query:
        type: string
        description: "A query filter expression, which is written in a superset of the Atom Feed Item Query Language (FIQL).\nThe FIQL is documented in <https://tools.ietf.org/html/draft-nottingham-atompub-fiql-00>,\nand the superset supported by the WC1 API documented in <https://github.com/jirutka/rsql-parser>.\nThe query supports next field to specify searching criteria:\n\n'modificationDate' - Time when the case has been modified by the user;\n\n'assignedUserId' - Identifier of the User cases are assigned to;\n\n'groupId' - Identifier of the Group that owns the case.\n\n'creatorUserId' - Identifier of the case author\n\n'modifierUserId' - Identifier of the recent changes author\n\n'creationDate' - Time when the case has been created\n\nRSQL/FIQL parser contains some reserved characters:\n\n`'\"' | \"'\" | \"(\" | \")\" | \";\" | \",\" | \"=\" | \"!\" | \"~\" | \"<\" | \">\"`\n\nIf there are reserved characters or white spaces in the query expression, they must be escaped by enclosing \nthem in single or double quotes. If you need to use both single and double quotes inside an argument, then\nyou must escape one of them using `\\` (backslash). If you want to use `\\` literally, then double it as `\\\\`.\nBackslash has a special meaning only inside a quoted argument, not in unquoted argument. Using reserved \ncharacters or white spaces without escaping can lead to parsing and execution errors.\n\nThe query examples:\n\n* \"query\": \"example=='TE!ST'\"\n* \"query\": \"example==\\\\\"TE'ST\\\\\"\"\n* \"query\": \"example=='TE\\\\\\\\'ST'\"\n\nArgument can be a single value, or multiple values in parenthesis separated by comma. Value that does not\ncontain any reserved character or a white space can be unquoted, other arguments must be enclosed in single \nor double quotes.\n\nExample:\n\n* \"query\": \"example1=='TE\\\\\\\\'ST', example2==TEST\"\n"
      sort:
        type: array
        description: The sort critieria to apply to the query
        items:
          $ref: '#/definitions/SortCriterion'
  CaseBulkResponse:
    type: object
    description: Cases Archived / Unarchived Bulk Response
    required:
    - statuses
    properties:
      statuses:
        type: array
        description: A set of results on each Case
        items:
          $ref: '#/definitions/CaseBulkStatus'
    example:
      statuses:
      - caseSystemId: caseSystemId1
        success: true
      - caseSystemId: caseSystemId2
        success: true
      - caseSystemId: caseSystemId3
        success: false
        errors:
        - error: CASE_NOT_FOUND
          cause: API key does not have permission to access the case or case not found.
  PageReference:
    type: object
    description: Model representing references to previous and next pages.
    properties:
      previous:
        type: string
        description: A reference to the previous page.
      current:
        type: string
        description: A reference to the current page.
      next:
        type: string
        description: A reference to the next page.
  Filter:
    type: object
    description: Filter the response
    properties:
      query:
        type: string
        description: "A query filter expression, which is written in a superset of the Atom Feed Item Query Language (FIQL).\nThe FIQL is documented in <https://tools.ietf.org/html/draft-nottingham-atompub-fiql-00>,\nand the superset supported by the WC1 API documented in <https://github.com/jirutka/rsql-parser>.\n\nRSQL/FIQL parser contains some reserved characters:\n\n`'\"' | \"'\" | \"(\" | \")\" | \";\" | \",\" | \"=\" | \"!\" | \"~\" | \"<\" | \">\"`\n\nIf there are reserved characters or white spaces in the query expression, they must be escaped by enclosing \nthem in single or double quotes. If you need to use both single and double quotes inside an argument, then\nyou must escape one of them using `\\` (backslash). If you want to use `\\` literally, then double it as `\\\\`.\nBackslash has a special meaning only inside a quoted argument, not in unquoted argument. Using reserved \ncharacters or white spaces without escaping can lead to parsing and execution errors.\n\nThe query examples:\n\n* \"query\": \"example=='TE!ST'\"\n* \"query\": \"example==\\\\\"TE'ST\\\\\"\"\n* \"query\": \"example=='TE\\\\\\\\'ST'\"\n\nArgument can be a single value, or multiple values in parenthesis separated by comma. Value that does not\ncontain any reserved character or a white space can be unquoted, other arguments must be enclosed in single \nor double quotes.\n\nExample:\n\n* \"query\": \"example1=='TE\\\\\\\\'ST', example2==TEST\"\n"
      sort:
        type: array
        description: The sort critieria to apply to the query
        items:
          $ref: '#/definitions/SortCriterion'
      pagination:
        $ref: '#/definitions/Pagination'
  EntityUpdatedDates:
    type: object
    properties:
      ageUpdated:
        type: string
        format: date-time
      aliasesUpdated:
        type: string
        format: date-time
      alternativeSpellingUpdated:
        type: string
        format: date-time
      asOfDateUpdated:
        type: string
        format: date-time
      categoryUpdated:
        type: string
        format: date-time
      citizenshipsUpdated:
        type: string
        format: date-time
      companiesUpdated:
        type: string
        format: date-time
      deceasedUpdated:
        type: string
        format: date-time
      dobsUpdated:
        type: string
        format: date-time
      eiUpdated:
        type: string
        format: date-time
      enteredUpdated:
        type: string
        format: date-time
      externalSourcesUpdated:
        type: string
[...]
