openapi: 3.2.0
info:
  title: London Stock Exchange Group LSEG World-Check One Media…
  description: The World-Check One API enables developers to integrate the next generation of LSEG screening capabilities into existing workflows and internal systems (such as CRMs) in order to help streamline the processes for on-boarding, KYC and third party due diligence.
  version: 2.61.0
  termsOfService: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
  contact:
    name: LSEG World-Check One API Q&A
    url: https://community.developers.refinitiv.com/index.html
    email: c3r.api1@lseg.com
  license:
    name: Commercial
    url: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
servers:
- url: https://api-worldcheck.refinitiv.com/v2
tags:
- name: Media-Check
  description: Operations for the Media-Check domain.
paths:
  /cases/{caseSystemId}/mediacheck/results:
    post:
      operationId: getMediaCheckDetails
      tags:
      - Media-Check
      summary: London Stock Exchange Group Retrieve MediaCheck results
      description: Retrieve MediaCheck headlines results by the case ID.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      - name: Accept-Language
        description: A value that identifies GUI language for the request. The response will be provided in the selected GUI language where available, otherwise it will be returned in English. Note this cannot be used to filter content by language and is used to display localized metadata.
        in: header
        required: false
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for a Case.
        required: true
        schema:
          type: string
      responses:
        200:
          description: News articles headline summaries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCheckResultsResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/MediaCheckResultsResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaCheckResultsRequest'
        description: 'A request to retrieve the news results.

          '
        required: true
  /cases/{caseSystemId}/mediacheck/results/metadata:
    post:
      operationId: getMediaCheckArticlesMetadata
      tags:
      - Media-Check
      summary: London Stock Exchange Group Retrieve article metadata by the article IDs
      description: 'Retrieve Media Check headlines results by the article IDs.


        **Example HTTP request**


        ```

        {

        "articleIds":[

        "articleID1",

        "articleID2",

        "articleID3"

        ]

        }

        ```'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      - name: Accept-Language
        description: A value that identifies UI language for request. The response will be provided in the selected UI language where available, otherwise it will be returned in English.
        in: header
        required: false
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        schema:
          type: string
      responses:
        200:
          description: News articles headline summaries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCheckArticlesMetadataResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/MediaCheckArticlesMetadataResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaCheckArticlesMetadataRequest'
        description: Collection of Article IDs.
        required: true
  /cases/{caseSystemId}/mediacheck/results/{articleId}/metadata:
    get:
      operationId: getMediaCheckSingleArticleMetadata
      tags:
      - Media-Check
      summary: London Stock Exchange Group Retrieve article metadata by the article ID
      description: Retrieve Media Check headlines results by the article ID.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Accept-Language
        description: A value that identifies UI language for request. The response will be provided in the selected UI language where available, otherwise it will be returned in English.
        in: header
        required: false
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        schema:
          type: string
      - name: articleId
        in: path
        description: MediaCheck news article ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: News articles headline summaries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCheckArticlesMetadataResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/MediaCheckArticlesMetadataResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
  /cases/{caseSystemId}/mediacheck/results/content:
    post:
      operationId: getMediaCheckResultsContent
      tags:
      - Media-Check
      summary: London Stock Exchange Group Retrieve MediaCheck news articles content
      description: 'Retrieve MediaCheck news articles content and summary by the given caseSystemId and list of article IDs.


        **Example HTTP request**


        ```

        {

        "articleIds":[

        "articleID1",

        "articleID2",

        "articleID3"

        ]

        }

        ```'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        schema:
          type: string
      - name: enableHighlight
        in: query
        description: Flag to enable terms highlight
        required: false
        schema:
          type: boolean
      - name: context
        in: query
        description: Terms to highlight
        required: false
        schema:
          type: string
      responses:
        200:
          description: MediaCheck news articles content and summaries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCheckResultsContentResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/MediaCheckResultsContentResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaCheckContentRequest'
        description: Request to retrieve MediaCheck new articles content.
        required: true
  /cases/{caseSystemId}/mediacheck/results/{articleId}/content:
    get:
      operationId: getSingleArticleMediaCheckContent
      tags:
      - Media-Check
      summary: London Stock Exchange Group Retrieve content of single MediaCheck news article
      description: Retrieve content of single MediaCheck news article by the given caseSystemId and article ID.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        schema:
          type: string
      - name: articleId
        in: path
        description: MediaCheck news article ID
        required: true
        schema:
          type: string
      - name: enableHighlight
        in: query
        description: Flag to enable terms highlight
        required: false
        schema:
          type: boolean
      - name: context
        in: query
        description: Terms to highlight
        required: false
        schema:
          type: string
      responses:
        200:
          description: MediaCheck news article content and summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCheckResultsContentResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/MediaCheckResultsContentResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
  /cases/{caseSystemId}/mediacheck/results/review:
    put:
      operationId: updateArticlesReviewedDate
      tags:
      - Media-Check
      summary: London Stock Exchange Group Mark all MediaCheck news articles as reviewed for a…
      description: Marks all news articles as reviewed for the Case identified by the given caseSystemId.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Date and time when all articles were reviewed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticlesReviewDate'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ArticlesReviewDate'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
  /cases/{caseSystemId}/mediacheck/results/attach:
    put:
      operationId: attachArticles
      tags:
      - Media-Check
      summary: London Stock Exchange Group Attach articles to a case
      description: Attach articles to a case identified by the given caseSystemId.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Articles have been attached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsMediaCheckResolutionResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ResultsMediaCheckResolutionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResultsMediaCheckResolutionRequest'
        description: Articles attachment.
        required: true
    get:
      operationId: retrieveArticles
      tags:
      - Media-Check
      summary: London Stock Exchange Group Retrieve all articles attached to the case
      description: Retrieve Media Check results by the article attached to the case.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Accept-Language
        description: A value that identifies UI language for request. The response will be provided in the selected UI language where available, otherwise it will be returned in English.
        in: header
        required: false
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        schema:
          type: string
      responses:
        200:
          description: News articles headline summaries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCheckArticlesMetadataResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/MediaCheckArticlesMetadataResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      operationId: detachArticles
      tags:
      - Media-Check
      summary: London Stock Exchange Group Detach articles from a case
      description: Detach articles from a case identified by the given caseSystemId.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Articles have been detached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsMediaCheckResolutionResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ResultsMediaCheckResolutionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaCheckDetachArticlesRequest'
        description: Articles detachment.
        required: true
  /cases/{caseSystemId}/mediacheck/results/{articleId}/attach:
    delete:
      operationId: detachArticle
      tags:
      - Media-Check
      summary: London Stock Exchange Group Detach single article from a case
      description: Detach single article from a case identified by the given caseSystemId.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        schema:
          type: string
      - name: articleId
        in: path
        description: MediaCheck news article ID.
        required: true
        schema:
          type: string
      responses:
        204:
          description: MediaCheck article has been datached from a case.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
  /mediacheck/risks:
    get:
      operationId: getMediaCheckRisks
      tags:
      - Media-Check
      summary: London Stock Exchange Group Retrieve mediacheck risk definitions
      description: 'Retrieves a list of mediacheck risk definitions.


        The mediacheck risk definitions are used when attaching mediacheck articles to a case.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: A list of mediacheck risk definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RiskDefinition'
            application/octet-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RiskDefinition'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
  /cases/{caseSystemId}/mediacheck/results/duplicates:
    post:
      operationId: retrieveMediaCheckDuplicates
      tags:
      - Media-Check
      summary: London Stock Exchange Group Retrieve MediaCheck article duplicates
      description: Retrieve article duplicates by specifying article deduplicationHash.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      - name: Accept-Language
        description: A value that identifies GUI language for the request. The response will be provided in the selected GUI language where available, otherwise it will be returned in English. Note this cannot be used to filter content by language and is used to display localized metadata.
        in: header
        required: false
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for a Case.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Response containing duplicated articles summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCheckArticlesMetadataResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/MediaCheckArticlesMetadataResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaCheckDuplicatesRequest'
        description: Request containing data to retrieve article duplicates.
        required: true
components:
  schemas:
    MediaCheckDuplicatesRequest:
      type: object
      description: Request containing deduplication hash to retrieve article duplicatates.
      properties:
        deduplicationHash:
          description: Hash string containing deduplication configuration.
          type: string
    MediaCheckFacetsResponse:
      type: object
      description: Facets for article navigation. Use facet's `drilldownKey` to select a facet
      properties:
        publicationTypes:
          type: array
          items:
            $ref: '#/components/schemas/MediaCheckRegularFacetResponse'
        geographies:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/MediaCheckRegularFacetResponse'
        topics:
          type: array
          items:
            $ref: '#/components/schemas/MediaCheckRegularFacetResponse'
        topicPhases:
          type: array
          items:
            $ref: '#/components/schemas/MediaCheckRegularFacetResponse'
        countries:
          type: array
          items:
            $ref: '#/components/schemas/MediaCheckRegularFacetResponse'
        publicationDates:
          type: array
          items:
            $ref: '#/components/schemas/MediaCheckPublicationDatesFacetResponse'
    MediaCheckRegularFacetRequest:
      type: object
      description: Facets for MediaCheckResultsRequest
      properties:
        limit:
          minimum: 1
          maximum: 100
          description: Maximum number of items to return
          type: integer
          format: int32
    Error:
      type: object
      required:
      - error
      - cause
      properties:
        error:
          type: string
        cause:
          type: string
        objectId:
          type: string
    MediaCheckPageReference:
      type: string
      description: A string token that can be used to paginate across the headline result set.
      example: eNqrVirOLypRslLycw2PD/GP9/dxUdJRyixJzS0OSC0KSExPVbIyMtBRKkotSy0qBnJKikpTdZQyMkuc80vzgBotLIGwFgA6Vxb3
    MediaCheckPublicationDatesFacetResponse:
      type: object
      allOf:
      - $ref: '#/components/schemas/MediaCheckRegularFacetResponse'
      - properties:
          selectedCount:
            type: integer
            description: Number of articles that are both within `baseFilter.publicationDate` range and this facet's range
            format: int64
    ResultsMediaCheckResolutionRequest:
      type: object
      description: 'Articles to attach.

        User able to attach articles only to unarchive case.

        '
      required:
      - articleIds
      - risk
      properties:
        reason:
          type: string
          maxLength: 2000
          description: Reason description.
        risk:
          type: string
          description: Definition of Media Check attached article risk level
          example: HIGH
        articleIds:
          type: array
          description: 'MediaCheck articles IDs.

            Request may contain up to 200 articles.

            '
          uniqueItems: true
          minItems: 1
          maxItems: 200
          items:
            type: string
    MediaCheckResultsContentResponse:
      type: object
      description: Response with MediCheck news articles content
      properties:
        results:
          type: array
          description: MediaCheck news article content and summary
          items:
            $ref: '#/components/schemas/MediaCheckResultsContent'
      example:
        results:
        - articleContent:
            content: Article content
            copyrightHolder: Copyright holder
            copyrightNotice: Copyright notice
          articleSummary:
            articleId: am2_newsroom_nNRAazy6q1|20191002T112015,757+0000
            articleFound: true
            contentType: newsroom
            language: English
            publicationDate: '2019-10-02T11:20:18.498Z'
            publication:
              code: DEUEUR
              name: Publication name
              status: null
              description: null
              languages: []
              regions:
              - Europe
              publicationTypes: []
              sectors: []
            author: null
            topics:
            - Article Topic
            countries:
            - Netherlands
            - Russia
            title: Article title
            snippet: ''
            wordCount: 1655
            phases:
            - Article Phase
    MediaCheckBaseFilter:
      description: Used to filter news search results.
      type: object
      properties:
        publicationDate:
          $ref: '#/components/schemas/MediaCheckPublicationDateRange'
        query:
          description: User defined boolean query which can be used to narrow news results.
          type: string
          example: Theft AND Fraud
        archivedArticles:
          description: Indicates databases to return response from. If true and the archive limit on the Media Check group settings is set to 2 or more years, the response will contain results from both databases - the one that includes less than 2 years old articles, and the second one that includes 2 or more years old (archived) articles. By default the response will only include articles that are less than 2 years old. Must always be set to `true`. This field will be deprecated in the future releases.
          type: boolean
          default: false
          example: true
        reviewRequiredArticles:
          type: boolean
          description: 'Indicates whether articles that require review or reviewed articles should be included.

            Review reqired articles are included if this field is not specified (default value).

            '
          default: true
        smartFilter:
          type: boolean
          description: 'Indicates whether filter should be used when searching news articles.

            Value of the filter field is stored on case or provided by group settings.

            '
        deduplicatedArticles:
          description: 'Deduplication algorithm to use in MediaCheckBaseFilter.

            It is possible to not specify value of deduplication algorithm in request and it will be provided by group settings.


            Possible types of deduplication algorithm are:


            * STRICT - If articles are the same they are grouped and only the newest one is returned to the user.

            ''articleSummary'' will contain ''duplicatesKey'' field. Its value can be used to retrieve duplicated articles

            using "Retrieve MediaCheck article duplicates" endpoint.

            * COMPOSITE - If articles are the same and/or similar they are grouped and only the newest one is returned to

            the user. ''articleSummary'' will contain ''duplicatesKey'' field. Its value can be used to retrieve duplicated

            articles using "Retrieve MediaCheck article duplicates" endpoint.

            * DISABLED - All articles are returned to the user, even if they are the same.

            '
          type: string
          enum:
          - STRICT
          - COMPOSITE
          - DISABLED
    MediaCheckDetachArticlesRequest:
      type: object
      description: Articles to detach.
      required:
      - articleIds
      properties:
        articleIds:
          type: array
          description: 'MediaCheck articles IDs.

            Request may contain up to 200 articles.

            '
          uniqueItems: true
          minItems: 1
          maxItems: 200
          items:
            type: string
    MediaCheckResultsRequest:
      type: object
      properties:
        drilldownKeys:
          type: array
          description: Drill down keys for facet navigation.
          items:
            type: string
        baseFilter:
          $ref: '#/components/schemas/MediaCheckBaseFilter'
        pagination:
          $ref: '#/components/schemas/MediaCheckResultsPagination'
        facets:
          $ref: '#/components/schemas/MediaCheckFacetsRequest'
    MediaCheckArticlesMetadataResponse:
      type: object
      properties:
        results:
          description: Response for Media Check results for a case.
          type: array
          items:
            $ref: '#/components/schemas/MediaCheckResult'
    MediaCheckContentRequest:
      type: object
      description: Definition of MediaCheck news articles content request
      required:
      - articleIds
      properties:
        articleIds:
          maxItems: 200
          minItems: 1
          uniqueItems: true
          type: array
          description: 'MediaCheck articles IDs.

            Request may contain up to 200 unique articles.

            '
          items:
            type: string
    MediaCheckResultsPagination:
      description: 'Allows users to paginate across the full list of articles returned as part of the result set.


        The object should have either pageReference field or sort + itemsPerPage fields defined.

        '
      type: object
      properties:
        itemsPerPage:
          minimum: 1
          maximum: 100
          default: 100
          description: The number of news article headlines returned per page.
          type: integer
          format: int32
        sort:
          type: string
          enum:
          - NEW_TO_OLD
          - OLD_TO_NEW
          default: NEW_TO_OLD
        pageReference:
          $ref: '#/components/schemas/MediaCheckPageReference'
    MediaCheckRegularFacetResponse:
      type: object
      properties:
        drilldownKey:
          description: Key of the facet that used for navigation
          type: string
        facetLabel:
          description: Label of the facet
          type: string
        articleCount:
          description: Number of articles within the facet
          type: integer
          format: int64
    MediaCheckResultsContent:
      type: object
      description: Response with MediaCheck news articles content and summary
      properties:
        articleContent:
          description: MediaCheck news article content
          $ref: '#/components/schemas/MediaCheckArticleContent'
        articleSummary:
          description: MediaCheck news article summary
          $ref: '#/components/schemas/MediaCheckArticleSummary'
    MediaCheckResultsResponse:
      type: object
      properties:
        pageReferences:
          description: Contains references that allows pagination across headline results for a case.
          $ref: '#/components/schemas/MediaCheckResultsPaginationResponse'
        results:
          description: Response for Media Check results for a case.
          type: array
          items:
            $ref: '#/components/schemas/MediaCheckResult'
        totalResultCount:
          description: Total number of found news articles
          type: integer
          format: int64
          example: 89898
        facets:
          description: Contains facets available for navigation. Use facet's `drilldownKey` to select a facet
          $ref: '#/components/schemas/MediaCheckFacetsResponse'
    ResultsMediaCheckResolution:
      description: Response with Media Check results for a case
      type: object
      properties:
        articleId:
          description: Media Check news article ID.
          type: string
        errorCodes:
          type: array
          description: Errors generated by validation.
          items:
            $ref: '#/components/schemas/Error'
    RiskDefinition:
      type: string
      description: Definition of Media Check attached article risk level
      example: HIGH
    MediaCheckResultResolution:
      description: Resolution details for news articles attached to a case.
      type: object
      properties:
        risk:
          type: string
          description: Definition of Media Check attached article risk level
          example: HIGH
        reason:
          description: Free text reason provided when attaching a news article to a case
          type: string
          example: It looks like the case we are looking for
        reviewDate:
          description: Date when a news article was attached to a case
          type: string
          format: date-time
    MediaCheckPublicationDateRange:
      type: object
      description: Date range when the article was published.
      properties:
        min:
          type: string
          format: date-time
          description: Start date and time the article was published in ISO 8601 format excluding Week and Ordinal dates.
        max:
          type: string
          format: date-time
          description: End date and time when the article was published in ISO 8601 format excluding Week and Ordinal dates.
    MediaCheckPublicationDateFacetRequest:
      type: object
      description: Publication date facet request for navigation by search results through publication date.
    MediaCheckResultsPaginationResponse:
      description: 'Contains references that allows pagination across headline results for a case.


        API consumer can use this object to find pagination options available and send the values as part of MediaCheckResultsPagination in pageReference field.

        '
      type: object
      properties:
        current:
          $ref: '#/components/schemas/MediaCheckPageReference'
        first:
          $ref: '#/components/schemas/MediaCheckPageReference'
        last:
          $ref: '#/components/schemas/MediaCheckPageReference'
        next:
          $ref: '#/components/schemas/MediaCheckPageReference'
        previous:
          $ref: '#/components/schemas/MediaCheckPageReference'
    MediaCheckArticleSummary:
      description: 'MediaCheck news article summary

        '
      type: object
      properties:
        articleId:
          description: Unique news article identifier
          type: string
          example: am2_newsroom_nNRA9oi5ww|20190423T153322,620+0000
        articleFound:
          description: Specifies whether article with the specified id is still available in the database.
          type: boolean
          default: true
          example: true
        author:
          description: Article Author
          type: string
          example: Mark Twain
        contentType:
          description: Specifies content type, either internet (URL) or licensed (NEWSROOM)
          type: string
          example: NEWSROOM
        countries:
          description: List of countries the news article is tagged with
          type: array
          items:
            type: string
            example: USA
        duplicatesKey:
          description: A hash of the news article content which could be used to find similar news articles
          type: string
          example: 20190830_190c8483ce6671d338768ef40e2574d1e814f858
        language:
          description: Content language
          type: string
          example: English
        publicationDate:
          description: Article publication date
          type: string
          format: date-time
        snippet:
          description: A summary extracted from the lead paragraph of the article, typically first 450 characters.
          type: string
          example: 'Companies operating virtual assets must submit the transaction reports of clients

            that by their behavior could be related to illicit money.

            '
        publication:
          description: Information about MediaCheck news article issuer
          $ref: '#/components/schemas/MediaCheckPublicationDetails'
        title:
          description: Article title/headline
          type: string
          example: They must report virtual asset operations
        topics:
          description: List of risk topics the news article is tagged with
          type: array
          items:
            type: string
            example: Fraud
        wordCount:
          description: Article word count
          type: integer
          format: int32
          example: 432
        phases:
          description: List of risk phases the news article is tagged with
          type: array
          items:
            type: string
            example: Conviction
    ArticlesReviewDate:
      type: object
      description: Date and time when all articles were reviewed.
      required:
      - dateReviewed
      properties:
        dateReviewed:
          type: string
          format: date-time
          description: Case modification date and time.
      example:
        dateReviewed: 2019-05-14 11:55:19.038000+00:00
    MediaCheckPublicationDetails:
      description: News article publisher details.
      type: object
      properties:
        code:
          description: Unique source code used to identify the publisher.
          type: string
          example: LSEG
        countries:
          description: List of countries the publisher covers
          type: array
          items:
            type: string
            example: USA
        description:
          description: Publisher description
          type: string
          example: Fast, accurate verbatim transcripts
        languages:
          description: List of languages the publisher covers.
          type: array
          items:
            type: string
            example: English
        name:
          description: Publisher Name.
          type: string
          example: LSEG
        publicationTypes:
          description: Publication type.
          type: array
          items:
            type: string
            example: Broadcast
        regions:
          description: List of regions the publisher covers.
          type: array
          items:
            type: string
            example: North America
        sectors:
          description: List of sectors the publisher covers.
          type: array
          items:
            type: string
            example: Government
        status:
          description: Status of the publisher, i.e. active / archived (discontinued).
          type: string
          example: active
    MediaCheckFacetsRequest:
      type: object
      description: Facets for MediaCheckResultsRequest
      properties:
        publicationType:
          $ref: '#/components/schemas/MediaCheckRegularFacetRequest'
        topicPhase:
          $ref: '#/components/schemas/MediaCheckRegularFacetRequest'
        geography:
          $ref: '#/components/schemas/MediaCheckRegularFacetRequest'
        topic:
          $ref: '#/components/schemas/MediaCheckRegularFacetRequest'
        country:
          $ref: '#/components/schemas/MediaCheckRegularFacetRequest'
        publicationDate:
          $ref: '#/components/schemas/MediaCheckPublicationDateFacetRequest'
    MediaCheckResult:
      description: Response with Media Check results for a case
      type: object
      properties:
        resolution:
          description: Case resolution information for Media Check headline result set.
          $ref: '#/components/schemas/MediaCheckResultResolution'
        articleSummary:
          description: Media Check news article summary.
          $ref: '#/components/schemas/MediaCheckArticleSummary'
    ResultsMediaCheckResolutionResponse:
      type: object
      properties:
        resolutions:
          description: Response for Media Check results resolutions.
          type: array
          items:
            $ref: '#/components/schemas/ResultsMediaCheckResolution'
    MediaCheckArticlesMetadataRequest:
      type: object
      description: Definition of MediaCheck news articles content request
      required:
      - articleIds
      properties:
        articleIds:
          uniqueItems: true
          maxItems: 200
          minItems: 1
          type: array
          description: 'MediaCheck articles IDs.

            Request may contain up to 200 articles.

            '
          items:
            type: string
    MediaCheckArticleContent:
      type: object
      description: MediaCheck news article content
      properties:
        content:
          description: Contents of the MediaCheck news article
          type: string
        copyrightHolder:
          description: Copyright holder of MediaCheck news article
          type: string
        copyrightNotice:
          description: Copyright notice of the MediaCheck news article
          type: string
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
        application/octet-stream:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: The API client is making too many concurrent requests, and some are being throttled. Throttled requests can be retried (with an updated request Date and HTTP signature) after a short delay.
    CannotReturnResponse:
      description: Cannot return response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
        application/octet-stream:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
    Unauthorized:
      description: The request has failed an authorisation check. This can happen for a variety of reasons, such as an invalid or expired API key, an invalid HMAC signature or a request timing issue/problem with the Date header value. The API client should ensure a correctly synchronised clock is used to generate request timestamps.
    UnexpectedError:
      description: Unexpected error
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
        application/octet-stream:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
    UnsupportedMediaType:
      description: For requests with payloads, an unsupported Content-Type was specified. The World-Check One API only supports a content type of application/json.
externalDocs:
  description: Refer to the LSEG Developer Portal for additional documentation on the World-Check One API.
  url: https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/world-check-one-api
x-tagGroups:
- name: Upcoming Features and Changes
  tags:
  - upcoming
- name: Zero Footprint Screening
  tags:
  - zfs
- name: Case Management and Audit
  tags:
  - api-info
  - reference
  - group
  - case
  - audit
  - media-check
  - client-watchlist
  - user
  - passport-check
  - linked-cases
  - case-rating
  - smart-filter
  - reporting
