openapi: 3.2.0
info:
  title: London Stock Exchange Group LSEG World-Check One Case API
  description: The World-Check One API enables developers to integrate the next generation of LSEG screening capabilities into existing workflows and internal systems (such as CRMs) in order to help streamline the processes for on-boarding, KYC and third party due diligence.
  version: 2.61.0
  termsOfService: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
  contact:
    name: LSEG World-Check One API Q&A
    url: https://community.developers.refinitiv.com/index.html
    email: c3r.api1@lseg.com
  license:
    name: Commercial
    url: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
servers:
- url: https://api-worldcheck.refinitiv.com/v2
tags:
- name: Case
  description: Operations for the case domain.
paths:
  /caseIdentifiers:
    head:
      operationId: checkCaseIdentifierAvailability
      tags:
      - Case
      summary: London Stock Exchange Group Check if a given caseId is available for use
      description: 'caseIds must be unique within each Client. If any Group under a Client has a Case with a particular caseId,

        that caseId cannot be reused on another Case within the same Client. This endpoint allows the user to check

        if a given caseId is available to use when creating or updating a Case.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseId
        in: query
        required: true
        description: Id to check if it is available to use as a caseId
        schema:
          type: string
      responses:
        200:
          description: 'The given caseId is in use within the current user''s Client, therefore is not available to use on a

            different Case.

            '
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          description: 'The given caseId is not found within the current user''s Client, therefore is available to use as a caseId

            on any Case.

            '
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
  /caseReferences:
    get:
      operationId: getCaseReference
      tags:
      - Case
      summary: London Stock Exchange Group Return the CaseReference (caseId, caseSystemId) for…
      description: 'Returns the CaseReference containing the caseId and caseSystemId pair for an existing Case with the given caseId.

        This is useful if only the caseId is known but caseSystemId is required by other endpoints such as

        `GET /cases/{caseSystemId}`.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseId
        in: query
        required: true
        description: Case ID provided by the client or else generated by the system for the client
        schema:
          type: string
      responses:
        200:
          description: CaseReference for the given caseId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseReference'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CaseReference'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
  /cases:
    post:
      operationId: saveCase
      tags:
      - Case
      summary: London Stock Exchange Group Create a new case
      description: 'Creates a new Case for asynchronous screening. Synchronous screening on the dedicated ZFS gateway host

        via `/cases/screeningRequest` should be used instead of this for Zero Footprint Screening (ZFS).


        **Info about available secondary fields can be found here.**'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        201:
          description: Case created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/Case'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCase'
        description: Case to be created
        required: true
  /cases/screeningRequest:
    post:
      operationId: screen
      tags:
      - Case
      summary: London Stock Exchange Group Perform synchronous screening for a new case
      description: 'Perform synchronous screening for a new case.


        This endpoint can perform a synchronous screening for a set of valid case details and, if provided,

        set the ongoing screening (OGS) state for the given provider types. The supported provider types for setting

        the OGS state are WATCHLIST and MEDIA_CHECK. They both can be set to either INITIAL (OGS disabled) or ONGOING

        (OGS enabled) state. You cannot set the OGS state when using Zero Footprint Screening (ZFS) groups.


        The returned result collection contains the regular case result details plus identity documents and important events.

        ZFS is enabled by specifying a ZFS group id in the body and is available for dedicated Zero-footprint API customers

        or Regular WC1 API customers using ZFS-specific groups.


        The response may contain Special Interest Categories (SIC) records that depends on the user subscription type.

        This helps in SIC risk analysis:


        - if a user has subscription type is Premium or Premium Plus, the keywords for SIC subcategories provided

        in the "sources" field and full value of SIC keywords code in the "categories" field;


        - if a user has a Standard subscription type then the "categories" field will not contain SIC keywords;


        - the above behavior is the same for ZFS.


        The example response body includes SIC with Premium or Premium Plus user subscription:


        ```

        {

        "sources":[

        "b_trwc_M:1TQ",

        "b_trwc_4"

        ],

        "categories":[

        "Special Interest Categories",

        "Other Bodies"

        ]

        }

        ```


        **Note:** The maximum number of World-Check screenings (including initial, rescreening, and ZFP ones)

        that a client can perform in an hour is limited.


        When using the API care should be taken when using operator words even when combined with an apostrophe,

        for example the below combinations will cause an error 403 to be returned:


        - String ‘AND (String)

        - String ‘OR (String)

        - String ‘AND NOT (String)

        - String ‘OR NOT (String)

        - String ‘AND AS (String)

        - String ‘OR AS (String)


        **Info about available secondary fields can be found here.**'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Collection of Screening Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningResultCollection'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ScreeningResultCollection'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreeningRequest'
        description: Screening Request
        required: true
  /cases/{caseSystemId}:
    put:
      operationId: updateExistingCase
      tags:
      - Case
      summary: London Stock Exchange Group Update an existing Case by its caseSystemId
      description: 'Updates an existing Case identified by the given caseSystemId. When the case is updated, all the non-empty fields for the case are required to be sent, including the updated field(s). Non-empty fields that are not sent when calling this endpoint will be overwritten as null.

        For example, if the date of birth for a case need to be updated, existing fields such as nationality, etc. should contain the original values, otherwise it will be updated as null. That is, all the other fields should be included in the body with their existing data. This applies to Custom Fields as well.


        **Note:** When updating an existing Case details with Passport-Check details within the API, to check

        the details in the UI information you must refresh the page to view all updated details.


        **Info about available secondary fields can be found here.**'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        schema:
          type: string
      responses:
        200:
          description: Case updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/Case'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCase'
        description: Update Case
        required: true
    patch:
      operationId: partialUpdateCase
      tags:
      - Case
      summary: London Stock Exchange Group Partial update an existing Case by its caseSystemId
      description: 'Updates an existing Case identified by the given caseSystemId. When the case is updated, only updated field(s) for the case are required to be sent.

        If non-empty fields are not sent they will be left untouched.

        Case screening results related to the value provided in Screen query parameter.

        Calling the endpoint without any change in the existing case payload, but retained query parameter screen=SYNC, works as synchronous re-screening.


        **Note:** The maximum number of World-Check screenings (including initial, rescreening, and ZFP ones)

        that a client can perform in an hour is limited.


        When updating an existing Case details with Passport-Check details within the API, to check

        the details in the UI information you must refresh the page to view all updated details.


        **Info about available secondary fields can be found here.**'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        schema:
          type: string
      - name: screen
        in: query
        description: Screen mode
        required: false
        schema:
          type: string
          enum:
          - NONE
          - SYNC
          - ASYNC
          default: NONE
      responses:
        200:
          description: Case updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningResultCollection'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ScreeningResultCollection'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartialUpdateCase'
        description: Update Case
        required: true
    get:
      operationId: getCase
      tags:
      - Case
      summary: London Stock Exchange Group Fetch Full Case Details
      description: 'Returns full details of the Case identified by the given ''caseSystemId''.


        **Note:** A delay of up to 40s after Case is screened is recommended while fetching full Case details with

        aggregated summaries, although a delay of up to 5s would work in most of the cases. If aggregated

        summaries return nil stats, a responsible retry mechanism with a maximum of five retries is

        recommended for the Cases where stats are expected.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        schema:
          type: string
      - name: aggregatedSummary
        in: query
        description: Flag to enable aggregated summary for case
        required: false
        schema:
          type: boolean
      responses:
        200:
          description: Case response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/Case'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      operationId: deleteCase
      tags:
      - Case
      summary: London Stock Exchange Group Delete a Case
      description: 'Delete a Case identified by the given caseSystemId. The case must be first archived in order to delete it.

        The user must be active and have delete permissions. The client must have delete functionality enabled.


        **Note:** After successful deletion, a corresponding audit with actionType ''DELETE_CASE'' will be saved for the case.

        All other audits for this case will be deleted within 15 minutes.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        schema:
          type: string
      responses:
        204:
          description: Case deleted
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
  /cases/{caseSystemId}/screeningRequest:
    post:
      operationId: screenCase
      tags:
      - Case
      summary: London Stock Exchange Group Request full or delta screening for an existing Case
      description: 'Make a request for screening of the Case identified by the given caseSystemId.


        Screening could be synchronous or asynchronous operation. The type of Screening could be full or delta.


        In the case of asynchronous Screening result will return immediately. As a result of this call,

        the screening request will be queued to be processed. When this request has been processed, there will be a new

        `SCREENED_CASE` audit event that can be queried via `/cases/{caseSystemId}/auditEvents` and then the results

        can be retrieved via `/cases/{caseSystemId}/results`.


        In the case of a synchronous screening as a result of the call will be returned result collection contains

        the regular case result details plus identity documents and important events.


        Delta Screening performs Screening from the time of the last screening date and shows new results that appeared

        after the last screening.


        **Note:** The maximum number of World-Check screenings (including initial, rescreening, and ZFP ones)

        that a client can perform in an hour is limited.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format.
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json').
        in: header
        required: false
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes).
        in: header
        required: false
        schema:
          type: integer
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Collection of screening results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseScreeningResultCollection'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CaseScreeningResultCollection'
        201:
          description: Screening request successfully queued for asynchronous processing.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseScreeningRequest'
        description: Case Screening Request.
  /cases/{caseSystemId}/ongoingScreening:
    put:
      operationId: enableOngoingScreening
      tags:
      - Case
      summary: London Stock Exchange Group Enable OGS for a Case
      description: 'Enable Ongoing Screening for the Case identified by the given caseSystemId. This will schedule the Case

        to be re-screened periodically by the system.

        In order to enable Ongoing Screening for multiple or specific provider type fill out an optional request body

        with provider types for which to enable Ongoing Screening. If no request body provided Ongoing Screening request

        will be performed for WATCHLIST provider type.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format.
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json').
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes).
        in: header
        required: true
        schema:
          type: integer
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        schema:
          type: string
      responses:
        204:
          description: Ongoing Screening enabled for Case.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OngoingScreeningRequest'
        description: Request containing details to enable Ongoing Screening for Case.
    delete:
      operationId: disableOngoingScreening
      tags:
      - Case
      summary: London Stock Exchange Group Disable OGS for a Case
      description: 'Disable Ongoing Screening for the Case identified by the given caseSystemId.

        In order to disable Ongoing Screening for multiple or specific provider type fill out an optional request body

        with provider types for which to disable Ongoing Screening. If no request body provided Ongoing Screening request

        will be performed for WATCHLIST provider type.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format.
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json').
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes).
        in: header
        required: true
        schema:
          type: integer
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        schema:
          type: string
      responses:
        204:
          description: Ongoing Screening disabled for Case.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OngoingScreeningRequest'
        description: Request containing details to disable Ongoing Screening for Case.
  /cases/{caseSystemId}/archive:
    put:
      operationId: archiveCase
      tags:
      - Case
      summary: London Stock Exchange Group Archive a Case
      description: 'Archive the Case identified by the given caseSystemId. This will put the case into a state from

        which it can be either unarchived or deleted.

        The user must be active and have the archive permission.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format.
        in: header
        required: true
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        schema:
          type: string
      responses:
        204:
          description: Case archived.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      operationId: unarchive
      tags:
      - Case
      summary: London Stock Exchange Group Unarchive a Case
      description: 'Unarchive the Case identified by the given caseSystemId.

        The user must be active and have the archive permission.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        schema:
          type: string
      responses:
        204:
          description: Case unarchived
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
  /cases/bulk/archive:
    post:
      operationId: archiveCases
      tags:
      - Case
      summary: London Stock Exchange Group Bulk Update Archive States
      description: 'Bulk Update Archive States of cases identified by the given `caseSystemIds`. The arhive states are updated

        according to the value specified in the `"archive"` field: if set to `true` then all the cases will be updated

        with the "archive" state, otherwise, the "unarchived" state will be used.


        In response, the user receives a summary (`"statuses"`) of the archiving operation for each case.


        *Example HTTP response* below, shows the following summary:


        1. The first case with `"caseSystemId1"` has been archived successfully.

        2. The second case with `"caseSystemId2"` has been archived successfully.

        3. The third case with `"caseSystemId3"` has not been archived because it does not meet the validation criteria;

        `"error"` and `"cause"` fields contain detailed information on the error.


        The user must be active and have the archive permission.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: A response on Bulk Update Archive States
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseBulkResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CaseBulkResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseBulkArchiveRequest'
        description: A request on Bulk Update Archive States
        required: true
  /cases/bulk/assign:
    post:
      operationId: assignCases
      tags:
      - Case
      summary: London Stock Exchange Group Bulk Update Case Assignments
      description: 'Bulk Update Case Assignments, where `Case`s are identified by the given `caseSystemIds` and assignee `User`

        is identified by the given `userId` (in case of assigning action). The case assignements are updated according

        to the value specified in the `"userId"` field: if set to `null` or is absent then the bulk unassigning action

        happens, otherwise, the bulk assigning to the `User` identified by the given `userId` action

        is performed.


        In response, the user receives a summary (`"statuses"`) of the assigning/unassigning operation for each case.


        *Example HTTP response* below, shows the following summary:


        1. The first case with `"caseSystemId1"` has been assigned successfully.

        2. The second case with `"caseSystemId2"` has been assigned successfully.

        3. The third case with `"caseSystemId3"` has not been assigned because it does not meet the validation criteria;

        `"error"` and `"cause"` fields contain detailed information on the error.


        The user must be active and have the archive permission.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: A response on Bulk Update Case Assignments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseBulkResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CaseBulkResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseBulkAssignRequest'
        description: A request on Bulk Update Case Assignments
        required: true
  /cases/bulk/delete:
    post:
      operationId: deleteCases
      tags:
      - Case
      summary: London Stock Exchange Group Bulk Delete Cases
      description: 'Bulk Delete Cases identified by the given `caseSystemIds`. The cases must be first archived in order to delete them.

        The user must be active and have delete permissions. The client must have delete functionality enabled.


        In response, the user receives a summary (`"statuses"`) of the archiving operation for each case.


        *Example HTTP response* below, shows the following summary:


        1. The first case with `"caseSystemId1"` has been deleted successfully.

        2. The second case with `"caseSystemId2"` has been deleted successfully.

        3. The third case with `"caseSystemId3"` has not been deleted because it does not meet the validation criteria;

        `"error"` and `"cause"` fields contain detailed information on the error.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: A response on Bulk Delete Cases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseBulkResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CaseBulkResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseBulkDeleteRequest'
        description: A request on Bulk Delete Cases
        required: true
  /cases/bulk/move:
    post:
      operationId: updateCasesOwner
      tags:
      - Case
      summary: London Stock Exchange Group Bulk Move Cases Between Groups
      description: 'Bulk Move Cases identified by the given `caseSystemIds` to the `Group` identified by the given `groupId`.

        The user must be active and have move cases between groups permissions. The client must have move cases functionality enabled.

        The current Group and the destination Group should contain identical custom fields. Cases can not be moved to ZFS group.


        In response, the user receives a summary (`"statuses"`) of the moving cases operation for each case.


        *Example HTTP response* below, shows the following summary:


        1. The first case with `"caseSystemId1"` has been moved successfully.

        2. The second case with `"caseSystemId2"` has been moved successfully.

        3. The third case with `"caseSystemId3"` has not been moved because it does not meet the validation criteria;

        `"error"` and `"cause"` fields contain detailed information on the error.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: A response on Bulk Move Cases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseBulkResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CaseBulkResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseBulkMoveRequest'
        description: A request on Bulk Move Cases
        required: true
  /cases/bulk/ongoingScreening:
    post:
      operationId: toggleOngoingScreeningByProviderTypes
      tags:
      - Case
      summary: London Stock Exchange Group Bulk Update Ongoing Screening States
      description: 'Bulk Update Ongoing Screening (OGS) States of cases with provided `caseSystemIds` and `ProviderType`s specified in

        `caseScreeningState`. Ongoing screening can be performed for MEDIA_CHECK and WATCHLIST provider types.

        The user must be active and have CASE_OGS permissions.


        In response, the user receives a summary (`"statuses"`) of the World-Check/Media-Check Ongoing Screening operation for each case.


        *Example HTTP response* below, shows the following summary:


        1. Watchlist Ongoing Screening successfully enabled for the first case with `"caseSystemId1"`.

        2. Media Check Ongoing Screening successfully disabled for the second case with `"caseSystemId2"`.

        3. World-Check/Media-Check Ongoing Screening operation can not be performed for the third case with `"caseSystemId3"` because it does not meet the validation criteria;

        `"error"` and `"cause"` fields contain detailed information on the error.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: A response on Bulk Update Ongoing Screening States
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseBulkResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CaseBulkResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseBulkOngoingScreeningRequest'
        description: A request on Bulk Update Ongoing Screening States
        required: true
  /cases/bulk/link:
    post:
      operationId: linkCases
      tags:
      - Case
      summary: London Stock Exchange Group Bulk Update Case Links
      description: 'Bulk Update Case Links for `Case`s with provided `caseSystemIds` and `relationshipTypes` specified in

        `relationshipType` field. The case links are updated according to the value specified in the "link" field:

        if set to `true` then the link bulk action happens, otherwise, the unlinking is performed.


        In response, the user receives a summary (`"statuses"`) of the Link/Unlink operation for each case.


        *Example HTTP response* below, shows the following summary:


        1. The first case with `"caseSystemId1"` was linked/unlinked successfully.

        2. The second case with `"caseSystemId2"` was linked/unlinked successfully.

        3. Link/Unlink operation can not be performed for the third case with `"caseSystemId3"` because it does not meet the validation criteria;

        `"error"` and `"cause"` fields contain detailed information on the error.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: A response on Bulk Update Case Links
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseBulkResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CaseBulkResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseBulkLinkRequestCollection'
        description: A request on Bulk Update Case Links
        required: true
  /cases/{caseSystemId}/results:
    get:
      operationId: getResults
      tags:
      - Case
      summary: London Stock Exchange Group Get collection of Results for a Case by its…
      description: 'Return a collection of Results for the Case identified by the given caseSystemId.

        The response may contain Special Interest Categories (SIC) records that depends on the user subscription type. This helps in SIC risk analysis:

        If a user has subscription type is Premium or Premium Plus, the keywords for SIC subcategories provided in the "sources" field and full value of

        SIC keywords code in the "categories" field.

        If a user has a Standard subscription type then the "categories" field will not contain SIC keywords.

        The above behavior is the same for Zero Footprint Screening (ZFS).


        The example response body includes SIC with Premium or Premium Plus user subscription:


        ```

        {

        "sources":[

        "b_trwc_M:1TQ",

        "b_trwc_4"

        ],

        "categories":[

        "Special Interest Categories",

        "Other Bodies"

        ]

        }

        ```'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for a Case
        required: true
        schema:
          type: string
      responses:
        200:
          description: Collection of Results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Result'
            application/octet-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Result'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
  /cases/{caseSystemId}/results/review:
    put:
      operationId: reviewResults
      tags:
      - Case
      summary: London Stock Exchange Group Add a review remark to the specified result IDs for…
      description: Add a review remark to the specified result IDs for the given case.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        schema:
          type: string
      responses:
        204:
          description: All result IDs were successfully updated
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResultsReview'
        description: Object representing the IDs to be reviewed, and the review remark
        required: true
  /cases/{caseSystemId}/results/resolution:
    put:
      operationId: resolveResults
      tags:
      - Case
      summary: London Stock Exchange Group Resolves a list of results
      description: 'Resolves a list of results for the Case identified by the given caseSystemId.

        The endpoint for the resolution toolkit ''/groups/{groupId}/resolutionToolkit'' provides the resolution rules

        to be applied when resolving results of any Case within a specific Group.


        Any resultIds which relate to records that have been removed from World-Check One can only be resolved as FALSE.'
      parameters:
      - name: Authorization
        in: header
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        required: true
        schema:
          type: string
      - name: Date
        in: header
        description: The date and time at which the message was originated in 'RFC 1123' format.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: The media type of the request (e.g., 'application/json').
        required: true
        schema:
          type: string
      - name: Content-Length
        in: header
        description: The length of the request body in octets (8-bit bytes).
        required: true
        schema:
          type: integer
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        schema:
          type: string
      responses:
        204:
          description: Results resolved.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResultsResolutionAction'
        description: 'Represents the request details required for resolving Results.


          **Note:** Fields ''reasonId'' and ''resolutionRemark'' are required **ONLY** if they are specified accordingly

          in the configuration settings.

          '
        required: true
  /cases/ongoingScreeningUpdates:
    post:
      operationId: getOngoingScreeningUpdates
      tags:
      - Case
      summary: London Stock Exchange Group Get ongoing screening updates
      description: 'Get ongoing screening updates for all `Case` objects that are visible to the current user and are flagged for

        ongoing screening.


        Filter and sort the ongoing screening updates in the response by:


        **updateDate**: The date and time of this ongoing screening update in ISO 8601 format (excluding Week and

        Ordinal dates). Required.


        **providerType**: Ongoing screening provider type to query for results. Optional.


        e.g. Filter body that specifies the page size to be `50` and queries the first page of ongoing screening updates

        for WATCHLIST and MEDIA_CHECK provider types occurred since `2016-07-26T00:00:00Z` sorted by `updateDate` in `DESCENDING` order:


        {

        "query": "updateDate>=''2016-07-26T00:00:00Z'', providerType==WATCHLIST, providerType==MEDIA_CHECK",

        "sort": [

        {

        "columnName": "updateDate",

        "order": "DESCENDING"

        }

        ],

        "pagination": {

        "currentPage": 1,

        "itemsPerPage": 50

        }

        }'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Ongoing screening update search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OngoingScreeningUpdateSearchResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/OngoingScreeningUpdateSearchResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Filter'
        description: Filter and sort the ongoing screening updates in the response.
        required: true
  /cases/{caseSystemId}/assignee:
    put:
      operationId: assignCase
      tags:
      - Case
      summary: London Stock Exchange Group Assign the Case to a User
      description: 'Assign the Case to a User. ''/users'' endpoint provides the active users

        that a Case can be assigned to.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      - name: caseSystemId
        in: path
        description: System generated ID for the Case.
        required: true
        schema:
          type: string
      responses:
        204:
          description: The case has been assigned successfully.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assignee'
        description: User to whom the case will be assigned.
        required: true
    delete:
      operationId: unassignCase
      tags:
      - Case
      summary: London Stock Exchange Group Unassign a Case
      description: Once you have assigned the case to the User, you can now unassign the same case.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for the Case
        required: true
        schema:
          type: string
      responses:
        204:
          description: The case has been unassigned successfully.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
  /cases/search:
    post:
      operationId: searchCases
      tags:
      - Case
      summary: London Stock Exchange Group Search for Cases based on specified criteria using…
      description: 'Search for Cases based on specified criteria using filter or query parameters.


        This endpoint allows you to find cases that match your search criteria.

        You can provide these criteria through the CaseSearchRequest object, which includes ''query'' and ''filter'' fields.

        Expressions in ''query'' and ''filter'' must adhere to the Atom Feed Item Query Language (FIQL),

        which is documented in RFC 4288 and the superset supported by the WC1 API,

        as documented in WC1 API Query Language.


        **Note:** To learn about the available search fields and their usage, you can use the `GET /reference/searchFilters` endpoint.


        Response details can be customized using the ''detailLevel'' field:

        - ''CASE'': The search response will provide full Case details.

        - ''CASE_AND_RESULTS'': The search response will include Сase details and Result summary related to this Case.

        - ''CASE_AND_AGGREGATED_RESULTS'': The search response will provide full Case details with an aggregated Result summary, summarizing data from primary and sub-cases.

        - ''CASE_AND_RESULTS_AND_AGGREGATED_RESULTS'': The search response will provide full Case details with a Result and aggregated(summarizing data from primary and sub-cases) summaries.


        Number of results can be controlled through ''pagination'' and ''sort'' fields.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format.
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json').
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes).
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: A set of Cases that match the specified criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseSearchResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CaseSearchResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseSearchRequest'
        description: The request containing search criteria.
        required: true
  /cases/summaries:
    post:
      operationId: retrieveCaseSummaries
      tags:
      - Case
      summary: London Stock Exchange Group User activity monitoring. Initial request
      description: 'Return a collection of Cases that were modified by users in particular date range.

        Endpoint allow to initiate search and retrieve the first page of result set.

        The query supports next field to specify searching criteria:


        ''modificationDate'' - Time when the case has been modified by the user;


        ''assignedUserId'' - Identifier of the User cases are assigned to;


        ''groupId'' - Identifier of the Group that owns the case;


        ''creatorUserId'' - Identifier of the case author;


        ''modifierUserId'' - Identifier of the recent changes author;


        ''creationDate'' - Time when the case has been created.


        To retrieve the next set of results please use ''/cases/summaries/cursor'' endpoint.


        **Note:** Cursor lifespan keeps extending if the cursor is accessed within its current lifespan.

        For example, once the cursor-id is generated using `POST /cases/summaries` endpoint, its lifespan is 60secs

        from there. Within that 60secs, if `POST /cases/summaries/cursor` endpoint is called, it extends the

        lifespan of the cursor to another 60secs from the point that call is made – and so on. If there are

        no subsequent calls to `POST /cases/summaries/cursor` endpoint using the same cursor within 60secs, cursor

        will expire.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Case search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseSearchResultResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CaseSearchResultResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseSummaryFilter'
        description: The "query" is a FIQL expression which allows specifying comparison expression on case fields and it also allows specifying boolean operators AND/OR. The "sort" allows specifying items order in the response. The "cursorOptions" allows specifying count of items in the first response.
        required: true
  /cases/summaries/cursor:
    post:
      operationId: scrollCaseSummaries
      tags:
      - Case
      summary: London Stock Exchange Group User activity monitoring. Subsequent request
      description: 'Continue loading result sets by cursor ID retrieved from POST/cases/summaries.


        **Note:** Cursor lifespan keeps extending if the cursor is accessed within its current lifespan.

        For example, once the cursor-id is generated using `POST /cases/summaries` endpoint, its lifespan is 60secs

        from there. Within that 60secs, if `POST /cases/summaries/cursor` endpoint is called, it extends the

        lifespan of the cursor to another 60secs from the point that call is made – and so on. If there are

        no subsequent calls to `POST /cases/summaries/cursor` endpoint using the same cursor within 60secs, cursor

        will expire.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Case search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseSearchResultResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CaseSearchResultResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cursor'
        description: Request to continue cases retrieval.
        required: true
  /cases/saveAndScreen:
    post:
      operationId: saveAndScreenCases
      tags:
      - Case
      summary: London Stock Exchange Group Save and screen multiple cases
      description: 'Save and screen multiple cases for the given group Id. Caller may include multiple cases with up to 50 entities in a single request (see *Example HTTP request* below).

        In response, the caller receives a summary of the creation operation for each case.


        *Example HTTP response* below, shows the following summary:


        1. The first case has been created successfully.

        2. The second case has not been created successfully because it does not meet the validation criteria;

        "errors" and "cause" fields contain detailed information.


        **Example HTTP response**


        ```

        [

        {

        "name": "Name 1",

        "caseId": "Case ID 1",

        "caseSystemId": "Case System ID 1",

        "nameTransposition": true,

        "caseScreeningState": {

        "WATCHLIST": "INITIAL"

        }

        },

        {

        "name": "Name 2",

        "caseId": "Case ID 2",

        "errors": [

        {

        "error": "CASE_ID_EXISTS",

        "cause": "Case IDs must be unique within the same client and request."

        }

        ]

        }

        ]

        ```


        **Note:** The maximum number of World-Check screenings (including initial, rescreening, and ZFP ones)

        that a client can perform in an hour is limited.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: 'If the request passed general validation, the caller receives response with CaseReference list,

            with summaries for each case located in payload.

            '
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CaseReferenceDetails'
            application/octet-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CaseReferenceDetails'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseDetailsCollection'
        description: Container of cases that is used in scope of creation operation.
        required: true
  /cases/screeningStatus:
    post:
      operationId: screeningStatus
      tags:
      - Case
      summary: London Stock Exchange Group Retrieve case screening status and aggregated…
      description: 'Retrieve case screening statuses and aggregated results. Caller may include multiple cases with up to 50 entities in a single request (see *Example HTTP request* below).

        In response, the caller receives a status and aggregated screening results for each case.


        **Example HTTP response**


        ```

        Response example returned for request not containing "providerTypes" field.

        [

        {

        "caseSystemId": "Case System ID 1",

        "screeningStatus": "SCREENED",

        "requestFromScreenedDate": "2020-10-24T11:40:21.517Z",

        "lastScreenedDate": "2019-12-16T14:44:15.582Z",

        "providerSummaries": {

        "WATCHLIST": {

        "totalMatches": 38,

        "reviewRequired": 0,

        "unresolved": 35

        }

        }

        },

        {

        "caseSystemId": "Case System ID 2",

        "screeningStatus": "NOT_SCREENED",

        "requestFromScreenedDate": "2020-10-24T11:40:21.517Z",

        "providerSummaries": {

        "WATCHLIST": {

        "totalMatches": 0,

        "reviewRequired": 0,

        "unresolved": 0

        },

        "PASSPORT_CHECK": {

        "isReviewRequired": false

        }

        }

        },

        {

        "caseSystemId": "Case System ID 3",

        "screeningStatus": "SCREENED",

        "requestFromScreenedDate": "2019-10-24T11:40:21.517Z",

        "lastScreenedDate": "2019-12-20T08:25:32.146Z",

        "providerSummaries": {

        "WATCHLIST": {

        "totalMatches": 625,

        "reviewRequired": 0,

        "unresolved": 618

        }

        }

        }

        ]


        Response example returned for request containing "providerTypes" field.

        [

        {

        "caseSystemId": "Case System ID 1",

        "requestFromScreenedDate": "2020-10-24T11:40:21.517Z",

        "lastScreenedDate": "2019-12-16T14:44:15.582Z",

        "providerSummaries": {

        "WATCHLIST": {

        "status": "SCREENED",

        "totalMatches": 38,

        "reviewRequired": 0,

        "unresolved": 35

        }

        }

        },

        {

        "caseSystemId": "Case System ID 2",

        "requestFromScreenedDate": "2020-10-24T11:40:21.517Z",

        "providerSummaries": {

        "WATCHLIST": {

        "status": "SCREENED",

        "totalMatches": 0,

        "reviewRequired": 0,

        "unresolved": 0

        },

        "PASSPORT_CHECK": {

        "isReviewRequired": false

        }

        }

        },

        {

        "caseSystemId": "Case System ID 3",

        "requestFromScreenedDate": "2019-10-24T11:40:21.517Z",

        "lastScreenedDate": "2019-12-20T08:25:32.146Z",

        "providerSummaries": {

        "WATCHLIST": {

        "status": "SCREENED",

        "totalMatches": 625,

        "reviewRequired": 0,

        "unresolved": 618

        },

        "MEDIA_CHECK": {

        "status": "SCREENED",

        "isReviewRequired":

        }

        }

        }

        ]

        ```'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        required: true
        schema:
          type: string
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        required: true
        schema:
          type: integer
      responses:
        200:
          description: 'If the request passed general validation, the caller receives a response with screening status and aggregated results for each case in the payload.

            '
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScreeningStatusResponse'
            application/octet-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScreeningStatusResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreeningStatusRequestCollection'
        description: Allows to specify cases and their screening dates that are using to define the screening status.
        required: true
components:
  schemas:
    CaseBulkOngoingScreeningRequest:
      type: object
      description: A request body on Bulk Update Ongoing Screening States
      required:
      - caseScreeningState
      - caseSystemIds
      properties:
        caseScreeningState:
          type: object
          description: 'Mapping from ProviderType to toggle Ongoing Screening ON/OFF for these Cases on the specific ProviderType.

            Supported ProviderTypes [WATCHLIST, MEDIA_CHECK].

            '
          additionalProperties:
            type: string
        caseSystemIds:
          type: array
          description: An array of system generated Ids for the Cases
          items:
            type: string
            description: System generated Id for the Case
        note:
          type: string
          maxLength: 1000
          description: Note added by the user.
      example:
        caseScreeningState:
          WATCHLIST: INITIAL
          MEDIA_CHECK: ONGOING
        caseSystemIds:
        - caseSystemId1
        - caseSystemId2
        - caseSystemId3
        note: Audit note
    CaseResultSummaries:
      type: object
      description: Case Statistics contains the Category and the count for all the results in the Case.
      properties:
        totalMandatoryActions:
          type: integer
          format: int32
          description: The number of mandatory actions on this case
        totalSubCases:
          type: integer
          format: int32
          description: Holds a count of the number of child cases
        mediaCheck:
          $ref: '#/components/schemas/MediaCheckResultSummary'
        watchlist:
          $ref: '#/components/schemas/WatchlistResultSummary'
        clientWatchlist:
          $ref: '#/components/schemas/ClientWatchlistResultSummary'
    PaginationReferenceRequest:
      type: object
      description: Request model for defining pagination options.
      properties:
        itemsPerPage:
          type: integer
          description: The number of items to return per page.
          format: int32
        pageReference:
          type: string
          description: A reference to a specific page.
    ScreeningResultCollection:
      type: object
      description: Contains an array of Watchlist Screening Result objects from a synchronous screening operation.
      required:
      - results
      - name
      - providerTypes
      - groupId
      - entityType
      properties:
        caseId:
          type: string
          maxLength: 512
          description: 'Case ID provided by the client or else generated by the system for the client. No case ID will be returned

            when using Zero Footprint Screening (ZFS) and it should not be specified in the request either.

            '
        name:
          type: string
          maxLength: 1000
          description: Name to screen for this case.
        providerTypes:
          type: array
          description: 'Provider Types required to Screen this case.

            For Zero Footprint Screening (ZFS), only `WATCHLIST` is supported.

            '
          minItems: 1
          items:
            $ref: '#/components/schemas/ProviderType'
        customFields:
          description: 'Case Custom Fields. Available custom fields and their definitions can be obtained via

            `groups/{groupId}/caseTemplate`. Custom fields cannot be used with Zero Footprint Screening (ZFS).

            '
          type: array
          items:
            $ref: '#/components/schemas/Field'
        secondaryFields:
          description: 'Case Secondary Fields. Available secondary fields and their definitions can be obtained via

            `groups/{groupId}/caseTemplate`.

            '
          type: array
          items:
            $ref: '#/components/schemas/Field'
        groupId:
          type: string
          maxLength: 255
          description: 'Group identifier owning this case.

            The group determines whether the case is screened as Zero Footprint Screnning (ZFS) or not.

            '
        entityType:
          type: string
          description: Case Entity Type Enumeration
          enum:
          - INDIVIDUAL
          - ORGANISATION
          - VESSEL
          - UNSPECIFIED
        caseSystemId:
          type: string
          maxLength: 192
          description: System generated ID for the Case
        caseScreeningState:
          description: 'Mapping from ProviderType to indicate whether Ongoing Screening is enabled for this Case on the specific ProviderType.

            By default, value will be set from account settings.

            '
          type: object
          additionalProperties:
            type: string
        lifecycleState:
          type: string
          description: Case Lifecycle State Enumeration
          enum:
          - ARCHIVED
          - UNARCHIVED
        creator:
          $ref: '#/components/schemas/UserSummary'
        modifier:
          $ref: '#/components/schemas/UserSummary'
        assignee:
          $ref: '#/components/schemas/UserSummary'
        creationDate:
          type: string
          format: date-time
          description: Case creation date and time
        modificationDate:
          type: string
          format: date-time
          description: Case modification date and time
        nameTransposition:
          type: boolean
          description: Flag indicating whether name transposition is enabled for the case.
        outstandingActions:
          type: boolean
          description: Flag indicating outstanding actions on a Case
        lastScreenedDatesByProviderType:
          type: object
          description: Case screenings date and time by provider type.
          additionalProperties:
            type: string
            format: date-time
            maxLength: 255
            description: Date and time by Provider Type.
        lastIndexDatesByProviderType:
          type: object
          description: 'Case index date and time by provider type. Represents date and time that should be used during  ZFS screening as

            starting point to not lose any results. Available only for ZFS screening.

            '
          additionalProperties:
            type: string
            format: date-time
            maxLength: 255
            description: Date and time by Provider Type.
        providerTypeDetails:
          $ref: '#/components/schemas/ProviderTypeDetails'
        results:
          description: Contains the Screening Result objects of the screening.
          type: array
          items:
            $ref: '#/components/schemas/Result'
    CaseSummaryFilterResponse:
      type: object
      description: Filter the response
      properties:
        query:
          type: string
          description: "A query filter expression, which is written in a superset of the Atom Feed Item Query Language (FIQL).\nThe FIQL is documented in <https://tools.ietf.org/html/draft-nottingham-atompub-fiql-00>,\nand the superset supported by the WC1 API documented in <https://github.com/jirutka/rsql-parser>.\nThe query supports next field to specify searching criteria:\n\n'modificationDate' - Time when the case has been modified by the user;\n\n'assignedUserId' - Identifier of the User cases are assigned to;\n\n'groupId' - Identifier of the Group that owns the case.\n\n'creatorUserId' - Identifier of the case author\n\n'modifierUserId' - Identifier of the recent changes author\n\n'creationDate' - Time when the case has been created\n\nRSQL/FIQL parser contains some reserved characters:\n\n`'\"' | \"'\" | \"(\" | \")\" | \";\" | \",\" | \"=\" | \"!\" | \"~\" | \"<\" | \">\"`\n\nIf there are reserved characters or white spaces in the query expression, they must be escaped by enclosing \nthem in single or double quotes. If you need to use both single and double quotes inside an argument, then\nyou must escape one of them using `\\` (backslash). If you want to use `\\` literally, then double it as `\\\\`.\nBackslash has a special meaning only inside a quoted argument, not in unquoted argument. Using reserved \ncharacters or white spaces without escaping can lead to parsing and execution errors.\n\nThe query examples:\n\n* \"query\": \"example=='TE!ST'\"\n* \"query\": \"example==\\\\\"TE'ST\\\\\"\"\n* \"query\": \"example=='TE\\\\\\\\'ST'\"\n\nArgument can be a single value, or multiple values in parenthesis separated by comma. Value that does not\ncontain any reserved character or a white space can be unquoted, other arguments must be enclosed in single \nor double quotes.\n\nExample:\n\n* \"query\": \"example1=='TE\\\\\\\\'ST', example2==TEST\"\n"
        sort:
          type: array
          description: The sort critieria to apply to the query
          items:
            $ref: '#/components/schemas/SortCriterion'
    CaseScreeningResultCollection:
      type: object
      description: Contains an array of Watchlist Screening Result objects from a synchronous screening operation.
      properties:
        case:
          type: object
          description: Contains the Case data.
          $ref: '#/components/schemas/Case'
        results:
          type: array
          description: Contains the Screening Result objects of the screening.
          items:
            $ref: '#/components/schemas/Result'
    SortCriterion:
      type: object
      description: Sort specification
      properties:
        columnName:
          type: string
          description: The field to sort on
        order:
          type: string
          description: The sort order
          enum:
          - ASCENDING
          - DESCENDING
    AbstractResolution:
      type: object
      description: Abstract resolution object
      properties:
        statusId:
          type: string
          description: 'Unique status ID defined in Group''s resolution toolkit and used when resolving this Result. Get the available

            status IDs and their details via `groups/{group_id}/resolutionToolkit`.

            '
          maxLength: 255
        riskId:
          type: string
          description: 'Unique risk ID defined in Group''s resolution toolkit and used when resolving this Result. Get the available

            risk IDs and their details via `groups/{group_id}/resolutionToolkit`.

            '
          maxLength: 255
        reasonId:
          type: string
          description: 'Unique reason ID defined in Group''s resolution toolkit and used when resolving this Result. Get the available

            reason IDs and their details via `groups/{group_id}/resolutionToolkit`.

            '
          maxLength: 255
        resolutionRemark:
          type: string
          description: Resolution remark added when resolving this Result.
          maxLength: 1000
    ItemIdentifier:
      type: object
      description: Represents the details (ID and label) of an individual item value.
      properties:
        id:
          type: string
          description: A string identifier for the item value.
        label:
          type: string
          description: A string label for the item value.
    NewCase:
      type: object
      description: Defines Case data that can be sent when creating a new Case. Extends [AbstractCase](#AbstractCase).
      allOf:
      - $ref: '#/components/schemas/AbstractCase'
      - type: object
        required:
        - name
        - groupId
        - entityType
        properties:
          groupId:
            type: string
            maxLength: 255
            description: 'Group identifier owning this case.

              The group determines whether the case is screened as Zero Footprint Screnning (ZFS) or not.

              '
          entityType:
            type: string
            description: Case Entity Type Enumeration
            enum:
            - INDIVIDUAL
            - ORGANISATION
            - VESSEL
            - UNSPECIFIED
        example:
          name: John Smith
          caseId: Client Case Id
          groupId: Client Group Id
          entityType: INDIVIDUAL
          providerTypes:
          - WATCHLIST
          customFields:
          - typeId: Custom Field Id 1
            value: Reference ID 1234567
          - typeId: Custom Field Id 2
            value: Deal Id 1234567
          secondaryFields:
          - typeId: SFCT_1
            value: MALE
          - typeId: SFCT_2
            dateTimeValue: '1990-11-20'
    TranslatedEntity:
      type: object
      description: Representation of translated entity.
      properties:
        translationDisclaimer:
          type: string
          description: Disclaimer for Translation Response.
        details:
          type: array
          description: A collection of translated entity details.
          items:
            $ref: '#/components/schemas/Detail'
    CaseSearchResultResponse:
      type: object
      description: 'Search response containing N cases matched searching criteria.

        '
      allOf:
      - $ref: '#/components/schemas/CaseSummaryFilterResponse'
      - required:
        - results
        properties:
          cursor:
            $ref: '#/components/schemas/Cursor'
          results:
            type: array
            description: 'Cases that matched search criteria. No case ID will be returned when using Zero Footprint Screening (ZFS)

              and it should not be specified in the request either.

              '
            items:
              $ref: '#/components/schemas/CaseSummaryResult'
      example:
        searchCriteria: modificationDate>='2016-07-27T00:00:00Z'
        totalResultCount: 2
        sort:
          columnName: modificationDate
          order: ASCENDING
        cursor:
          cursorId: DnF1ZXJ5VGhlbkZldGNoBQAAAAAANCsbFkRiRXB6SU9tUVRpMTVZc2hER3RHeUEAAAAAADcWIRZVTkdzdTBWWVQtaVpHVGt3Nl9MUV9RAAAAAAALGugWbTM3dzI1aUxTS3VGYXVDbUZyX1RXdwAAAAAACxrpFm0zN3cyNWlMU0t1RmF1Q21Gcl9UV3cAAAAAADQrHBZEYkVweklPbVFUaTE1WXNoREd0R3lB
        results:
        - caseSystemId: 45698dc-e17a-fdcv-a8bb-456efcvc8483
          caseId: e5928fca-e17a-4aa8-a8bb-d85e224aec46
          groupId: lpsc4312-e17a-4aa8-vcs5-66669fd7wwqf
          modificationDate: 2018-09-28 16:55:05+00:00
          assignee:
            fullName: Assignee Name
          modifier:
            fullName: Modifier Name
          creator:
            fullName: Creator Name
          creationDate: 2018-09-28 16:55:05+00:00
          caseRating: HIGH
        - caseSystemId: 45698dc-e17a-fdcv-cdas-6728jiednab5
          caseId: e5928fca-43fs-4aa8-a8bb-8974xsdf1258
          groupId: edwqdewq-e17a-4aa8-vcs5-78ccdeerf49w
          modificationDate: 2019-08-28 10:05:15+00:00
          assignee:
            fullName: Assignee Name
          modifier:
            fullName: Modifier Name
          creator:
            fullName: Creator Name
          creationDate: 2019-08-28 10:05:15+00:00
          caseRating: NOT_RATED
    PartialUpdateCase:
      type: object
      description: Defines Case data that can be sent when updating a Case partially. Extends [AbstractCase](#AbstractCase).
      allOf:
      - $ref: '#/components/schemas/AbstractCase'
      - type: object
      properties:
        note:
          type: string
          description: Note added by the User.
          maxLength: 1000
      example:
        caseId: Client Case Id
        name: John Smith
        providerTypes:
        - WATCHLIST
        customFields:
        - typeId: Custom Field Id 1
          value: Reference ID 1234567
[...]
