swagger: '2.0'
info:
  title: London Stock Exchange Group LSEG World-Check One Api-Info Passport-Check API
  description: 'The World-Check One API enables developers to integrate the next generation of LSEG screening capabilities into existing workflows and internal systems (such as CRMs) in order to help streamline the processes for on-boarding, KYC and third party due diligence.

    The API provides, among other features:

    - The ability to screen entity names, with or without secondary fields such as date of birth for individuals. These names are called “cases” within the World-Check One system.

    - The ability to retrieve results of the screening process from the World-Check database

    - The ability to flag cases for Ongoing Screening, and retrieve the World-Check results from the Ongoing Screening process.

    - The ability to submit request for reports.

    - The ability to fetch the status of the report requests and download the completed reports.

    > © 2018 - 2023 LSEG. All rights reserved. Republication or redistribution of LSEG content, including by framing or similar means, is prohibited without the prior written consent of LSEG. ''LSEG'' and the LSEG logo are registered trademarks and trademarks of LSEG and its affiliated companies.

    '
  version: 2.61.0
  termsOfService: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
  contact:
    name: LSEG World-Check One API Q&A
    url: https://community.developers.refinitiv.com/index.html
    email: c3r.api1@lseg.com
  license:
    name: Commercial
    url: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
host: api-worldcheck.refinitiv.com
basePath: /v2
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/octet-stream
tags:
- name: Passport-Check
  description: Operations for the Passport-Check domain.
paths:
  /passportcheck/mrz:
    post:
      operationId: getMrzData
      tags:
      - Passport-Check
      summary: London Stock Exchange Group Generates MRZ data
      description: 'Performs generation of MRZ data according to provided data

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: mrzGenerationRequest
        in: body
        description: Object containing data for generation of MRZ
        required: true
        schema:
          $ref: '#/definitions/MRZGenerationRequest'
      responses:
        200:
          description: Object with the list of MRZ lines
          schema:
            $ref: '#/definitions/MRZGenerationResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
definitions:
  MRZGenerationRequest:
    description: 'PassportCheck Machine Readable Zone (MRZ) data request

      '
    type: object
    required:
    - givenName
    - lastName
    - gender
    - dateOfBirth
    - issuingState
    - nationality
    - identificationNumber
    - dateOfExpiry
    - documentType
    properties:
      givenName:
        description: Name as in identifying document
        type: string
        maxLength: 1000
        example: Name
      lastName:
        description: Surname as in identifying document
        type: string
        maxLength: 1000
        example: Surname
      gender:
        type: string
        description: Stated gender Type Enumeration
        default: UNSPECIFIED
        enum:
        - MALE
        - FEMALE
        - UNSPECIFIED
      dateOfBirth:
        description: Date of birth according ISO 8601 standard
        type: string
        format: date
        example: '2019-01-02'
      issuingState:
        description: Code of state that issued identifying document
        type: string
        example: GBR
      nationality:
        description: Code of nationality as in identifying document
        type: string
        example: GBS
      identificationNumber:
        description: Number of identifying document
        type: string
        maxLength: 1000
        example: 123456789
      dateOfExpiry:
        description: Expiry date of identifying document according ISO 8601 standard
        type: string
        format: date
        example: '2019-01-02'
      documentType:
        type: string
        description: Passport Type Enumeration
        default: PASSPORT
        enum:
        - PASSPORT
        - ID1
        - ID2
  MRZGenerationResponse:
    description: 'PassportCheck Machine Readable Zone (MRZ) data response

      '
    type: object
    properties:
      lines:
        type: array
        description: List of MRZ lines
        items:
          type: string
      isConformICAO:
        description: 'Flag indicating if MRZ data conform to ICAO requirements. Field can be absent if compliance information

          is not available.

          '
        type: boolean
  Error:
    type: object
    required:
    - error
    - cause
    properties:
      error:
        type: string
      cause:
        type: string
      objectId:
        type: string
responses:
  BadRequest:
    description: Bad request
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  UnsupportedMediaType:
    description: For requests with payloads, an unsupported Content-Type was specified. The World-Check One API only supports a content type of application/json.
  CannotReturnResponse:
    description: Cannot return response
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  TooManyRequests:
    description: The API client is making too many concurrent requests, and some are being throttled. Throttled requests can be retried (with an updated request Date and HTTP signature) after a short delay.
  UnexpectedError:
    description: Unexpected error
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  Unauthorized:
    description: The request has failed an authorisation check. This can happen for a variety of reasons, such as an invalid or expired API key, an invalid HMAC signature or a request timing issue/problem with the Date header value. The API client should ensure a correctly synchronised clock is used to generate request timestamps.
externalDocs:
  description: Refer to the LSEG Developer Portal for additional documentation on the World-Check One API.
  url: https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/world-check-one-api
x-tagGroups:
- name: Upcoming Features and Changes
  tags:
  - upcoming
- name: Zero Footprint Screening
  tags:
  - zfs
- name: Case Management and Audit
  tags:
  - api-info
  - reference
  - group
  - case
  - audit
  - media-check
  - client-watchlist
  - user
  - passport-check
  - linked-cases
  - case-rating
  - smart-filter
  - reporting
