swagger: '2.0'
info:
  title: London Stock Exchange Group LSEG World-Check One Api-Info Reference API
  description: 'The World-Check One API enables developers to integrate the next generation of LSEG screening capabilities into existing workflows and internal systems (such as CRMs) in order to help streamline the processes for on-boarding, KYC and third party due diligence.

    The API provides, among other features:

    - The ability to screen entity names, with or without secondary fields such as date of birth for individuals. These names are called “cases” within the World-Check One system.

    - The ability to retrieve results of the screening process from the World-Check database

    - The ability to flag cases for Ongoing Screening, and retrieve the World-Check results from the Ongoing Screening process.

    - The ability to submit request for reports.

    - The ability to fetch the status of the report requests and download the completed reports.

    > © 2018 - 2023 LSEG. All rights reserved. Republication or redistribution of LSEG content, including by framing or similar means, is prohibited without the prior written consent of LSEG. ''LSEG'' and the LSEG logo are registered trademarks and trademarks of LSEG and its affiliated companies.

    '
  version: 2.61.0
  termsOfService: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
  contact:
    name: LSEG World-Check One API Q&A
    url: https://community.developers.refinitiv.com/index.html
    email: c3r.api1@lseg.com
  license:
    name: Commercial
    url: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
host: api-worldcheck.refinitiv.com
basePath: /v2
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/octet-stream
tags:
- name: Reference
  description: Operations for the reference domain.
paths:
  /reference/countries:
    get:
      operationId: getCountries
      tags:
      - Reference
      summary: London Stock Exchange Group Get Map of country codes and country names
      description: Get Map of ISO-3166-1 alpha-3 country codes and country names in English
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      responses:
        200:
          description: 'Map of ISO-3166-1 alpha-3 country codes and country names in English, where ISO-3166-1 alpha-3 country code

            is the Key and country name is the Value

            '
          schema:
            type: object
            additionalProperties:
              type: string
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /reference/nationalities:
    get:
      operationId: getNationalities
      tags:
      - Reference
      summary: London Stock Exchange Group Get Map of nationality codes and nationality names
      description: Get Map of ISO-3166-1 alpha-3 nationality codes and nationality names in English
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      responses:
        200:
          description: 'Map of ISO-3166-1 alpha-3 nationality codes and nationality names in English, where ISO-3166-1 alpha-3 nationality code

            is the Key and nationality name is the Value

            '
          schema:
            type: object
            additionalProperties:
              type: string
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /reference/providers:
    get:
      operationId: getProviders
      tags:
      - Reference
      summary: London Stock Exchange Group Get a list of available providers and their sources.
      description: Get a list of all available providers and their sources.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      responses:
        200:
          description: A list of available providers and their sources.
          schema:
            type: array
            items:
              $ref: '#/definitions/ProviderDetail'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /reference/identityDocumentLocationTypes:
    get:
      tags:
      - Reference
      summary: London Stock Exchange Group Get identity document location types data set definition.
      description: Get each identity document location type log, that refers to a specific country and entity type.
      responses:
        200:
          description: A list of identity document location type data set definition.
          schema:
            type: array
            items:
              $ref: '#/definitions/IdentityDocumentLocationTypeDataSet'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /reference/searchFilters:
    get:
      operationId: getSearchFilters
      tags:
      - Reference
      summary: London Stock Exchange Group Retrieves all search filters that are accessible to the User.
      description: Retrieves all search filters that are accessible to the User.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format.
        in: header
        type: string
        required: true
      responses:
        200:
          description: Collection of available search filters accessible to the User.
          schema:
            $ref: '#/definitions/SearchParameterCollection'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /reference/profile/{id}:
    get:
      deprecated: true
      operationId: getProfile
      tags:
      - Reference
      summary: London Stock Exchange Group Get a profile by its ID
      description: "Warning: This endpoint is deprecated due to migration to a new one: `/reference/records/{id}`\n\nGet a profile by its ID.\n\nThis service returns a specific subclass of 'Entity', depending on its particular 'ProfileEntityType' discriminator\nfield. Please note in the context of World-Check One, 'Profile' and 'Entity' are synonymous concepts.\n\nFor 'Zero Footprint Screening (ZFS)', this endpoint should be called on the dedicated 'ZFS' gateway host.\n\nThe `Entity` subclasses corresponding to each type of entity are:\n\n* `COUNTRY` : `CountryEntity`\n* `INDIVIDUAL` : `IndividualEntity`\n* `ORGANISATION` : `OrganisationEntity`\n* `VESSEL` : `VesselEntity`\n\nThe response may contain Special Interest Categories (SIC) records that depends on User subscription type to be able to analyze SIC risk:\nIf a User has subscription type is Premium or Premium Plus, the SIC details are returned for that entity in the 'sources' field.\n\nThe response will contain translated details of the 'details' section when 'Accept-Language' header is specified.\n\nThe example response body:\n\n```\n    {\n      \"sources\": [\n        {\n          \"abbreviation\": \"M:1U5\",\n          \"creationDate\": \"2020-10-23T07:43:21Z\",\n          \"identifier\": \"b_trwc_M:1U5\",\n          \"importIdentifier\": null,\n          \"name\": \"Sexual Exploitation\",\n          \"provider\": null,\n          \"providerSourceStatus\": \"ACTIVE\",\n          \"regionOfAuthority\": null,\n          \"subscriptionCategory\": \"STANDARD\",\n          \"type\": {\n            \"category\": {\n              \"description\": \"Description for Special Interest Categories\",\n              \"identifier\": \"ec_6\",\n              \"name\": \"Special Interest Categories\",\n              \"providerSourceTypes\": []\n            },\n            \"identifier\": \"t_trwc_14\",\n            \"name\": \"Special Interest Categories\"\n          }\n        }\n      ]\n    }\n```\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: id
        in: path
        required: true
        type: string
      responses:
        200:
          description: Profile response
          schema:
            $ref: '#/definitions/Entity'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        410:
          $ref: '#/responses/InactiveResource'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /reference/records/{id}:
    get:
      operationId: getRecord
      tags:
      - Reference
      summary: London Stock Exchange Group Get a record by its ID
      description: "Get a record by its ID.\n\nThis service returns a specific subclass of 'Entity', depending on its particular 'RecordEntityType' discriminator\nfield. Please note in the context of World-Check One, 'Record' and 'Entity' are synonymous concepts.\n\nFor 'Zero Footprint Screening (ZFS)', this endpoint should be called on the dedicated 'ZFS' gateway host.\n\nThe 'Entity' subclasses corresponding to each type of entity are:\n\n* 'COUNTRY' : 'CountryEntity'\n* 'INDIVIDUAL' : 'IndividualEntity'\n* 'ORGANISATION' : 'OrganisationEntity'\n* 'VESSEL' : 'VesselEntity'\n\nThe response may contain Special Interest Categories (SIC) record that depends on User subscription type to be able to analyze SIC risk:\nIf a User has subscription type is Premium or Premium Plus, the SIC details are returned for that entity in the 'sources' field.\n\nThe response will contain translated details of the 'details' section when Accept-Language header is specified.\n\nThe example response body:\n\n```\n    {\n      \"sources\": [\n        {\n          \"abbreviation\": \"M:1U5\",\n          \"creationDate\": \"2020-10-23T07:43:21Z\",\n          \"identifier\": \"b_trwc_M:1U5\",\n          \"importIdentifier\": null,\n          \"name\": \"Sexual Exploitation\",\n          \"provider\": null,\n          \"providerSourceStatus\": \"ACTIVE\",\n          \"regionOfAuthority\": null,\n          \"subscriptionCategory\": \"STANDARD\",\n          \"type\": {\n            \"category\": {\n              \"description\": \"Description for Special Interest Categories\",\n              \"identifier\": \"ec_6\",\n              \"name\": \"Special Interest Categories\",\n              \"providerSourceTypes\": []\n            },\n            \"identifier\": \"t_trwc_14\",\n            \"name\": \"Special Interest Categories\"\n          }\n        }\n      ]\n    }\n```\n"
      parameters:
      - name: Authorization
        in: header
        type: string
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details).
        required: true
      - name: Date
        in: header
        type: string
        description: The date and time at which the message was originated in 'RFC 1123' format.
        required: true
      - name: id
        in: path
        type: string
        description: Record identifier.
        required: true
      responses:
        200:
          description: Record response.
          schema:
            $ref: '#/definitions/Entity'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        410:
          $ref: '#/responses/InactiveResource'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /reference/profile/{id}/pep:
    post:
      deprecated: true
      operationId: retrieveProfilePepDetails
      tags:
      - Reference
      summary: London Stock Exchange Group Retrieves PEP details by the given profile ID
      description: 'Warning: This endpoint is deprecated due to migration to a new one: `/reference/records/{id}/pep`


        Retrieves detailed information for "Politically Exposed Person (PEP)" category by given profile ID.

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: id
        in: path
        description: Profile identifier.
        required: true
        type: string
      - name: pepDetailsRequest
        in: body
        description: Defines the sort order for retrieved PEP roles details.
        required: false
        schema:
          $ref: '#/definitions/PepDetailsRequest'
      responses:
        200:
          description: PEP details response.
          schema:
            $ref: '#/definitions/PepDetailsResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        410:
          $ref: '#/responses/InactiveResource'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
  /reference/records/{id}/pep:
    post:
      operationId: retrievePepDetails
      tags:
      - Reference
      summary: London Stock Exchange Group Retrieves PEP details by the given record ID
      description: Retrieves detailed information for "Politically Exposed Person (PEP)" category by given record ID.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: id
        in: path
        description: Record identifier.
        required: true
        type: string
      - name: pepDetailsRequest
        in: body
        description: Defines the sort order for retrieved PEP roles details.
        required: false
        schema:
          $ref: '#/definitions/PepDetailsRequest'
      responses:
        200:
          description: PEP details response.
          schema:
            $ref: '#/definitions/PepDetailsResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        410:
          $ref: '#/responses/InactiveResource'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
definitions:
  FileMeta:
    type: object
    required:
    - caption
    - uri
    properties:
      caption:
        type: string
      uri:
        type: string
      tags:
        type: array
        description: "Label(s) for the corresponding uri. For example,\n  - PHOTO indicates the page represented by the uri contains images.\n  - PDF indicates the page represented by the uri contains PDFs.\n"
        items:
          type: string
  RoleDetails:
    type: object
    description: Represents the role details.
    properties:
      title:
        type: string
        description: Role title.
      level:
        type: string
        description: Role level.
      position:
        type: string
        description: Individuals position.
      biography:
        type: string
        description: Individuals biography.
      status:
        description: Role status.
        $ref: '#/definitions/RoleStatusType'
      roleTermStartDate:
        type: string
        format: date
        description: Representation of term start date.
      roleTermEndDate:
        type: string
        format: date
        description: Representation of term end date.
    example:
      pepStatusUpdated: '2011-01-04'
      pepRolesUpdated: '2021-01-04'
  LanguageCode:
    type: object
    properties:
      code:
        type: string
      name:
        type: string
  ProviderSourceType:
    type: object
    properties:
      category:
        $ref: '#/definitions/ProviderSourceTypeCategoryDetail'
      identifier:
        type: string
      name:
        type: string
  SearchParameterType:
    type: string
    description: An enumeration of search parameter types used to categorize parameters.
    enum:
    - QUERY
    - FILTER
  SearchParameterCollection:
    type: object
    description: This object containing various search filter parameters that are available to the User.
    properties:
      freeTextParameters:
        type: array
        description: A set of free text query parameters.
        uniqueItems: true
        items:
          $ref: '#/definitions/QuerySearchParameter'
      predefinedParameters:
        type: array
        description: A set of filter parameters with predefined values.
        uniqueItems: true
        items:
          allOf:
          - $ref: '#/definitions/FilterSearchParameter'
    example:
      freeTextParameters:
      - fields:
        - caseName
        - caseId
        type: QUERY
        valueType: STRING
      predefinedParameters:
      - fields:
        - caseSystemId
        type: FILTER
        valueType: STRING
      - fields:
        - creationDate
        - modificationDate
        type: FILTER
        valueType: DATE_TIME
      - fields:
        - primaryCase
        - nameTransposition
        type: FILTER
        valueType: STRING
        availableValues:
        - false
        - true
      - fields:
        - secondaryFieldCountryLocation
        type: FILTER
        valueType: STRING
        availableCodes:
        - code: ABW
          label: Aruba
      - fields:
        - groupId
        type: FILTER
        valueType: STRING
        availableIds:
        - id: groupId
          label: Group Name
  Country:
    type: object
    required:
    - code
    - name
    properties:
      code:
        type: string
      name:
        type: string
  AbstractAssociate:
    type: object
    description: 'The `AbstractAssociate` subclasses corresponding to each type of entity are:


      * `COUNTRY`: `CountryAssociate`

      * `INDIVIDUAL`: `IndividualAssociate`

      * `ORGANISATION`: `OrganisationAssociate`

      * `VESSEL`: `VesselAssociate`

      '
    discriminator: associateEntityType
    required:
    - associateEntityType
    - entityType
    properties:
      associateEntityType:
        type: string
        description: Discriminator field. Might go away in a future major version of the API
      entityType:
        type: string
        description: 'Profile Entity Type Enumeration.


          The `Entity` subclasses corresponding to each type of entity are:


          * `COUNTRY` : `CountryEntity`

          * `INDIVIDUAL` : `IndividualEntity`

          * `ORGANISATION` : `OrganisationEntity`

          * `VESSEL` : `VesselEntity`

          '
        enum:
        - COUNTRY
        - INDIVIDUAL
        - ORGANISATION
        - VESSEL
      reversed:
        type: boolean
        default: false
      targetEntityId:
        type: string
      targetExternalImportId:
        type: string
      type:
        type: string
        description: Associate Type Enumeration
        default: UNKNOWN
        enum:
        - ADVISOR
        - AGENT_REPRESENTATIVE
        - AFFILIATED_COMPANY
        - AFFILIATED_ORGANIZATION
        - AFFILIATED_POSITION
        - ASSET
        - ASSISTANT
        - ASSOCIATE
        - ASSOCIATED_SPECIAL_INTEREST_PERSON
        - AUNT
        - BANKER
        - BRANCH_OFFICE
        - BROTHER
        - BROTHER_IN_LAW
        - BUSINESS_ASSOCIATE
        - CHILD
        - CLIENT
        - COLLEAGUE
        - COUSIN
        - CO_DEFENDANT
        - DAUGHTER
        - DAUGHTER_IN_LAW
        - DIRECTOR
        - DOC_COMPANY
        - EMPLOYEE
        - EMPLOYER
        - EXECUTIVE
        - EX_HUSBAND
        - EX_WIFE
        - FAMILY
        - FAMILY_MEMBER
        - FATHER
        - FATHER_IN_LAW
        - FINANCIAL_ADVISOR
        - FRIEND
        - FRONT_COMPANY
        - GRANDDAUGHTER
        - GRANDFATHER
        - GRANDMOTHER
        - GRANDSON
        - GRAND_CHILD
        - GROUP_BENEFICIAL_OWNER
        - HUSBAND
        - KEY_MEMBER
        - LEGAL_ADVISOR
        - MISC
        - MOTHER
        - MOTHER_IN_LAW
        - NEPHEW
        - NIECE
        - NOMINEE
        - OPERATOR
        - OWNER
        - PARENT
        - POLITICAL_ADVISOR
        - REGISTERED_OWNER
        - RELATIVE
        - SAME_SEX_SPOUSE
        - SENIOR_OFFICIAL
        - SHAREHOLDER_OWNER
        - SHIP_MANAGER
        - SISTER
        - SISTER_IN_LAW
        - SON
        - SON_IN_LAW
        - SPOUSE
        - STEP_DAUGHTER
        - STEP_SON
        - STEPFATHER
        - STEPMOTHER
        - SUBSIDIARY
        - TECHNICAL_MANAGER
        - UNCLE
        - UNKNOWN
        - UNMARRIED_PARTNER
        - WIFE
      targetPrimaryName:
        type: string
      creationDate:
        type: string
        format: date-time
      modificationDate:
        type: string
        format: date-time
      updateCategory:
        type: string
        description: Entity Update Category Enumeration
        enum:
        - C1
        - C2
        - C3
        - C4
        - C6
        - UNKNOWN
      category:
        type: string
      targetCategories:
        type: array
        description: List of names of [ProviderSourceTypeCategoryDetail](#ProviderSourceTypeCategoryDetail) in sources of target Entity.
        uniqueItems: true
        items:
          type: string
  EntityType:
    type: string
    description: Entity type of the case.
    enum:
    - INDIVIDUAL
    - ORGANISATION
    - VESSEL
    - COUNTRY
  SearchParameterValueType:
    type: string
    description: An enumeration of data types used for filter selected values.
    enum:
    - STRING
    - DATE_TIME
    - BOOLEAN
  ProviderDetail:
    type: object
    allOf:
    - $ref: '#/definitions/Provider'
    - type: object
      properties:
        sources:
          type: array
          description: Sources that belong to this provider.
          items:
            $ref: '#/definitions/ProviderSource'
  Detail:
    type: object
    properties:
      detailType:
        type: string
        description: Detail Type Enumeration
        default: UNKNOWN
        enum:
        - BIOGRAPHY
        - FUNDING
        - IDENTIFICATION
        - NOTE
        - REPORTS
        - REGULATION
        - SANCTION
        - UNKNOWN
      text:
        type: string
      title:
        type: string
        maxLength: 255
  AbstractSearchParameter:
    type: object
    description: "An abstract search parameter object that serves as the base for specific parameter types. \nIt has a discriminator based on the type field to distinguish between different parameter types.\n"
    discriminator: type
    required:
    - fields
    - type
    - valueType
    properties:
      fields:
        type: array
        description: An array of field identifiers to which the configuration applies.
        items:
          type: string
      type:
        $ref: '#/definitions/SearchParameterType'
      valueType:
        $ref: '#/definitions/SearchParameterValueType'
  Provider:
    type: object
    properties:
      code:
        type: string
      identifier:
        type: string
      master:
        type: boolean
        default: false
      name:
        type: string
  RoleStatusType:
    type: string
    description: Enumeration of available role status types.
    enum:
    - CURRENT
    - FORMER
    - UNKNOWN
  Image:
    type: object
    required:
    - uri
    properties:
      caption:
        type: string
      height:
        type: integer
        format: int32
      imageUseCode:
        type: string
      uri:
        type: string
      tags:
        type: array
        description: "Label(s) for the corresponding uri. For example,\n  - PHOTO indicates the page represented by the uri contains images.\n  - PDF indicates the page represented by the uri contains PDFs.\n"
        items:
          type: string
      width:
        type: integer
        format: int32
  Address:
    type: object
    properties:
      city:
        type: string
      country:
        $ref: '#/definitions/Country'
      postCode:
        type: string
      region:
        type: string
      street:
        type: string
  IdentityDocumentLocationType:
    type: object
    description: 'Represents the type of identity document location that includes the type of document, name, country

      and what type of entity it belongs to.

      '
    properties:
      country:
        $ref: '#/definitions/Country'
      name:
        type: string
      type:
        type: string
      entityTypes:
        type: array
        items:
          $ref: '#/definitions/EntityType'
  QuerySearchParameter:
    type: object
    description: Represents free text query parameters. Inherits from [AbstractSearchParameter](#AbstractSearchParameter).
    allOf:
    - $ref: '#/definitions/AbstractSearchParameter'
  TranslatedEntity:
    type: object
    description: Representation of translated entity.
    properties:
      translationDisclaimer:
        type: string
        description: Disclaimer for Translation Response.
      details:
        type: array
        description: A collection of translated entity details.
        items:
          $ref: '#/definitions/Detail'
  ProviderSourceTypeCategoryDetail:
    type: object
    properties:
      description:
        type: string
      identifier:
        type: string
        maxLength: 255
      name:
        type: string
        maxLength: 255
  Name:
    type: object
    required:
    - fullName
    - type
    properties:
      fullName:
        type: string
      givenName:
        type: string
      languageCode:
        $ref: '#/definitions/LanguageCode'
      lastName:
        type: string
      originalScript:
        type: string
      prefix:
        type: string
      suffix:
        type: string
      type:
        type: string
        description: Watchlist Profile Name Type enumeration
        enum:
        - PRIMARY
        - AKA
        - AKAENHANCED
        - FKA
        - DBA
        - MAIDEN
        - LANG_VARIATION
        - PREVIOUS
        - VEHICLE_ID
        - LOW_QUALITY_AKA
        - NATIVE_AKA
  IdentityDocument:
    type: object
    properties:
      entity:
        $ref: '#/definitions/Entity'
      expiryDate:
        type: string
      issueDate:
        type: string
      issuer:
        type: string
      locationType:
        $ref: '#/definitions/IdentityDocumentLocationType'
      number:
        type: string
      type:
        type: string
  Weblink:
    type: object
    properties:
      caption:
        type: string
      uri:
        type: string
      tags:
        type: array
        description: "Label(s) for the corresponding uri. For example,\n  - PHOTO indicates the page represented by the uri contains images.\n  - PDF indicates the page represented by the uri contains PDFs.\n  - DATE indicates the date when the uri was added to the record.\n"
        items:
          type: string
  PepDetailsResponse:
    type: object
    description: Retrieves detailed information for "Politically Exposed Person (PEP)" category by given record ID.
    properties:
      sort:
        description: The sort criteria applied to the response.
        $ref: '#/definitions/SortCriterion'
      pepStatus:
        type: string
        description: 'Enumeration of available PEP status types relating to individuals.

          '
        enum:
        - ACTIVE
        - INACTIVE
        - UNKNOWN
        - NOT_AVAILABLE
      updatedDates:
        description: PEP details' state change dates.
        $ref: '#/definitions/PepUpdatedDates'
      roleDetails:
        type: array
        uniqueItems: true
        description: Role detail set.
        items:
          $ref: '#/definitions/RoleDetails'
    example:
      sort:
        columnName: roleTermStartDate
        order: ASCENDING
      pepStatus: ACTIVE
      updatedDates:
        pepStatusUpdated: '2011-01-04'
        pepRolesUpdated: '2021-01-04'
      roleDetails:
      - title: Title_1
        level: Level_1
        position: Position_1
        biography: Biography_1
        status: UNKNOWN
        roleTermStartDate: '2011-01-04'
        roleTermEndDate: '2020-01-04'
      - title: Title_2
        level: Level_2
        position: Position_2
        biography: Biography_2
        status: FORMER
        roleTermStartDate: '2021-01-04'
        roleTermEndDate: null
  SortCriterion:
    type: object
    description: Sort specification
    properties:
      columnName:
        type: string
        description: The field to sort on
      order:
        type: string
        description: The sort order
        enum:
        - ASCENDING
        - DESCENDING
  ActionDetail:
    type: object
    required:
    - actionType
    properties:
      actionId:
        type: string
      actionType:
        type: string
        description: Action Detail Type Enumeration
        enum:
        - CIVIL_ACTION
        - CRIMINAL_CONVICTION
        - ENFORCEMENT
        - SANCTION
      comment:
        type: string
      endDate:
        type: string
        format: date-time
      files:
        type: array
        items:
          $ref: '#/definitions/FileMeta'
      publicationType:
        type: string
      published:
        type: string
      reference:
        type: string
      source:
        $ref: '#/definitions/ProviderSource'
      startDate:
        type: string
        format: date-time
      text:
        type: string
      title:
        type: string
  PepUpdatedDates:
    type: object
    description: Represents PEP details' state change dates.
    properties:
      pepStatusUpdated:
        type: string
        format: date
        description: Last update date for PEP status.
      pepRolesUpdated:
        type: string
        format: date
        description: Last update date for PEP roles.
    example:
      pepStatusUpdated: '2011-01-04'
      pepRolesUpdated: '2021-01-04'
  PepDetailsRequest:
    type: object
    description: A request containing defined the sort order for retrieved PEP roles details.
    properties:
      sort:
        description: 'The sort criteria to apply to the response.


          The list of supported fields:


          * `status`

          * `roleTermStartDate`

          * `roleTermEndDate`

          '
        $ref: '#/definitions/SortCriterion'
    example:
      sort:
        columnName: roleTermStartDate
        order: ASCENDING
  Error:
    type: object
    required:
    - error
    - cause
    properties:
      error:
        type: string
      cause:
        type: string
      objectId:
        type: string
  CountryLink:
    type: object
    required:
    - country
    - type
    properties:
      country:
        $ref: '#/definitions/Country'
      countryText:
        type: string
      type:
        type: string
        description: Country Link Type Enumeration
        enum:
        - NATIONALITY
        - OPERATESIN
        - POB
        - POD
        - REGISTEREDIN
        - RESIDENT
        - VESSELFLAG
        - LOCATION
  IdentityDocumentLocationTypeDataSet:
    type: object
    properties:
      identityDocumentLocationTypes:
        type: array
        items:
          $ref: '#/definitions/IdentityDocumentLocationType'
  ProviderSource:
    type: object
    required:
    - abbreviation
    - identifier
    - name
    - providerSourceStatus
    - type
    properties:
      abbreviation:
        type: string
        description: Abbreviated form of this source's `name`.
      creationDate:
        type: string
        format: date-time
      identifier:
        type: string
        description: An alphanumeric value
      importIdentifier:
        type: string
      name:
        type: string
        description: Full name of this source.
        maxLength: 255
      provider:
        description: Provider for this source.
        $ref: '#/definitions/Provider'
      providerSourceStatus:
        type: string
        description: Provider Source Status Enumeration
        enum:
        - ACTIVE
        - DELETED
        - HIDDEN
      regionOfAuthority:
        type: string
      subscriptionCategory:
        type: string
        description: Subscription Category Type Enumeration
        default: STANDARD
        enum:
        - PREMIUM
        - STANDARD
      modificationDate:
        type: string
        description: "Modification date of source. This field is updated only when there is a change in either source name \nor description. This field does not capture any updates to the underlying records that are added/deleted \nto/from the source.\n"
        format: date-time
      description:
        type: string
        description: Description of the source.
      type:
        $ref: '#/definitions/ProviderSourceType'
  ContactDetail:
    type: object
    required:
    - contactDetailType
    properties:
      contactDetailType:
        type: string
        description: Contact Detail Type Enumeration
        enum:
        - EMAIL
        - FAX
        - URL
        - VOICE
      country:
        $ref: '#/definitions/Country'
      detail:
        type: string
  FilterSearchParameter:
    type: object
    description: 'Represents filter configuration and values available for filtering cases with specific values.


      **Note:** The ''availableValues'', and ''availableItems'' fields in this model are optional and are populated based on the set of ''fields''.

      '
    allOf:
    - $ref: '#/definitions/AbstractSearchParameter'
    - type: object
      properties:
        availableValues:
          type: array
          description: An array of strings representing available values for filtering.
          items:
            type: string
        availableItems:
          type: object
          description: An array of objects containing key-label pairs where the keys are used as values to search against a specific field.
          additionalProperties:
            type: string
  EntityUpdatedDates:
    type: object
    properties:
      ageUpdated:
        type: string
        format: date-time
      aliasesUpdated:
        type: string
        format: date-time
      alternativeSpellingUpdated:
        type: string
        format: date-time
      asOfDateUpdated:
        type: string
        format: date-time
      categoryUpdated:
        type: string
        format: date-time
      citizenshipsUpdated:
        type: string
        format: date-time
      companiesUpdated:
        type: string
        format: date-time
      deceasedUpdated:
        type: string
        format: date-time
      dobsUpdated:
        type: string
        format: date-time
      eiUpdated:
        type: string
        format: date-time
      enteredUpdated:
        type: string
        format: date-time
      externalSourcesUpdated:
        type: string
        format: date-time
      firstNameUpdated:
        type: string
        format: date-time
      foreignAliasUpdated:
        type: string
        format: date-time
      furtherInformationUpdated:
        type: string
        format: date-time
      idNumbersUpdated:
        type: string
        format: date-time
      keywordsUpdated:
        type: string
        format: date-time
      lastNameUpdated:
        type: string
        format: date-time
      linkedToUpdated:
        type: string
        format: date-time
      locationsUpdated:
        type: string
        format: date-time
      lowQualityAliasesUpdated:
        type: string
        format: date-time
      passportsUpdated:
        type: string
        format: date-time
      placeOfBirthUpdated:
        type: string
        format: date-time
      positionUpdated:
        type: string
        format: date-time
      ssnUpdated:
        type: string
        format: date-time
      subCategoryUpdated:
        type: string
        format: date-time
      titleUpdated:
        type: string
        format: date-time
      updatecategoryUpdated:
        type: string
        format: date-time
      sicUpdated:
        type: string
        format: date-time
  Entity:
    type: object
    description: 'Represents a specific entity - usually corresponding to an individual or an organisation - that can appear

      as a potential screening result against a `Case`. Synonyms for this concept include "Profile".


      The `Entity` subclasses corresponding to each type of entity (designated by the `entityType` field below) are:


      * `COUNTRY` : `CountryEntity`

      * `INDIVIDUAL` : `IndividualEntity`

      * `ORGANISATION` : `OrganisationEntity`

      * `VESSEL` : `VesselEntity`


      Notes for Client Watchlist usage:


      * to add Date of Birth to an Individual entity, please use the `events` array with the "type":"BIRTH"

      * to add Place of Birth to an Individual entity, please use the `events` array with the "type":"BIRTH" and populate the `Region` field as part of the event `address` object

      * to add Registered Country to a Vessel entity, please use  the `countryLinks` array with the "type":"VESSELFLAG"

      * to add Registered Country to an Organisation entity, please use the `countryLinks` array with the "type": "REGISTEREDIN"

      '
    discriminator: entityType
    required:
    - entityId
    - creationDate
    - names
    - sources
    - externalImportId
    properties:
      actions:
        type: array
        items:
          $ref: '#/definitions/ActionDetail'
      active:
        type: boolean
        default: false
      addresses:
        type: array
        items:
          $ref: '#/definitions/Address'
      associates:
        type: array
        items:
          $ref: '#/definitions/AbstractAssociate'
      category:
        type: string
      comments:
        type: string
      contacts:
        type: array
        items:
          $ref: '#/definitions/ContactDetail'
      countryLinks:
        type: array
        items:
          $ref: '#/definitions/CountryLink'
      creationDate:
        type: string
        format: date-time
      deletionDate:
        type: string
        format: date-time
      description:
        type: string
      details:
        type: array
        items:
          $ref: '#/definitions/Detail'
      entityId:
        type: string
        description: An alphanumeric value including "_"
      externalImportId:
        type: string
        description: An alphanumeric value including "_"
      files:
        type: array
        items:
          $ref: '#/definitions/FileMeta'
      identityDocuments:
        type: array
        items:
          $ref: '#/definitions/IdentityDocument'
      images:
        type: array
        items:
          $ref: '#/definitions/Image'
      lastAdjunctChangeDate:
        type: string
        format: date-time
      modificationDate:
        type: string
        format: date-time
      names:
        type: array
        items:
          $ref: '#/definitions/Name'
      previousCountryLinks:
        type: array
        items:
          $ref: '#/definitions/CountryLink'
      provider:
        $ref: '#/definitions/Provider'
      sourceDescription:
        type: string
      sourceUris:
        type: array
        items:
          type: string
      sources:
        type: array
        items:
          $ref: '#/definitions/ProviderSource'
      subCategory:
        type: string
      updateCategory:
        type: string
        description: Entity Update Category Enumeration
        enum:
        - C1
        - C2
        - C3
        - C4
        - C6
        - UNKNOWN
      updatedDates:
        $ref: '#/definitions/EntityUpdatedDates'
      weblinks:
        type: array
        items:
          $ref: '#/definitions/Weblink'
      translatedEntity:
        allOf:
        - $ref: '#/definitions/TranslatedEntity'
        x-wc1-field-extra-annotations: '@com.fasterxml.jackson.annotation.JsonInclude(com.fasterxml.jackson.annotation.JsonInclude.Include.NON_NULL)'
responses:
  Unauthorized:
    description: The request has failed an authorisation check. This can happen for a variety of reasons, such as an invalid or expired API key, an invalid HMAC signature or a request timing issue/problem with the Date header value. The API client should ensure a correctly synchronised clock is used to generate request timestamps.
  UnsupportedMediaType:
    description: For requests with payloads, an unsupported Content-Type was specified. The World-Check One API only supports a content type of application/json.
  CannotReturnResponse:
    description: Cannot return response
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  InactiveResource:
    description: For requests to a resource that is no longer available.
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  TooManyRequests:
    description: The API client is making too many concurrent requests, and some are being throttled. Throttled requests can be retried (with an updated request Date and HTTP signature) after a short delay.
  BadRequest:
    description: Bad request
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  UnexpectedError:
    description: Unexpected error
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
externalDocs:
  description: Refer to the LSEG Developer Portal for additional documentation on the World-Check One API.
  url: https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/world-check-one-api
x-tagGroups:
- name: Upcoming Features and Changes
  tags:
  - upcoming
- name: Zero Footprint Screening
  tags:
  - zfs
- name: Case Management and Audit
  tags:
  - api-info
  - reference
  - group
  - case
  - audit
  - media-check
  - client-watchlist
  - user
  - passport-check
  - linked-cases
  - case-rating
  - smart-filter
  - reporting
