openapi: 3.2.0
info:
  title: London Stock Exchange Group LSEG World-Check One Smart…
  description: The World-Check One API enables developers to integrate the next generation of LSEG screening capabilities into existing workflows and internal systems (such as CRMs) in order to help streamline the processes for on-boarding, KYC and third party due diligence.
  version: 2.61.0
  termsOfService: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
  contact:
    name: LSEG World-Check One API Q&A
    url: https://community.developers.refinitiv.com/index.html
    email: c3r.api1@lseg.com
  license:
    name: Commercial
    url: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
servers:
- url: https://api-worldcheck.refinitiv.com/v2
tags:
- name: Smart-Filter
  description: Operations for the smart filter domain.
paths:
  /cases/{caseSystemId}/mediacheck/smartFilter:
    get:
      operationId: getMediaCheckSmartFilter
      tags:
      - Smart-Filter
      summary: London Stock Exchange Group Retrieve smart filter on a case
      description: 'Retrieve the smart filter state on the case provided in the request path.

        The request body should be empty for the case provided in the request path (''caseSystemId'').

        The case should be created with enabled mediacheck provider.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for a case.
        required: true
        schema:
          type: string
      responses:
        200:
          description: The smart filter on the case retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartFilterResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/SmartFilterResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
    put:
      operationId: enableSmartFilterOnCase
      tags:
      - Smart-Filter
      summary: London Stock Exchange Group Enable smart filter on a case
      description: 'Update the smart filter state on the case provided in the request path.

        The group setting "Allow users to enable/disable the Smart Filter" should be equal to true to have the ability to update the smart filter state on the case.

        The request body should be empty for the case provided in the request path (''caseSystemId'').

        The case should be created with enabled mediacheck provider. If the smart filter has already enabled then the smart filter status will not be updated.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for a case.
        required: true
        schema:
          type: string
      responses:
        204:
          description: The smart filter on the case enabled.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      operationId: disableSmartFilterOnCase
      tags:
      - Smart-Filter
      summary: London Stock Exchange Group Disable smart filter on a case
      description: 'Update the smart filter state on the case provided in the request path.

        The group setting "Allow users to enable/disable the Smart Filter" should be equal to true to have the ability to update the smart filter state on the case.

        The request body should be empty for the case provided in the request path (''caseSystemId'').

        The case should be created with enabled mediacheck provider. If the smart filter has already disabled then the smart filter status will not be updated.'
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      - name: caseSystemId
        in: path
        description: System generated ID for a case.
        required: true
        schema:
          type: string
      responses:
        204:
          description: The smart filter on the case disabled.
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
components:
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
        application/octet-stream:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
    CannotReturnResponse:
      description: Cannot return response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
        application/octet-stream:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: The API client is making too many concurrent requests, and some are being throttled. Throttled requests can be retried (with an updated request Date and HTTP signature) after a short delay.
    Unauthorized:
      description: The request has failed an authorisation check. This can happen for a variety of reasons, such as an invalid or expired API key, an invalid HMAC signature or a request timing issue/problem with the Date header value. The API client should ensure a correctly synchronised clock is used to generate request timestamps.
    UnexpectedError:
      description: Unexpected error
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
        application/octet-stream:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
    UnsupportedMediaType:
      description: For requests with payloads, an unsupported Content-Type was specified. The World-Check One API only supports a content type of application/json.
  schemas:
    SmartFilterResponse:
      description: 'Retrieved smart filter state on a Case.

        '
      type: object
      properties:
        smartFilter:
          type: boolean
          description: 'Flag indicating whether smart filter state on the case.

            The default value fetched from the group setting "Allow users to enable/disable the Smart Filter".

            '
    Error:
      type: object
      required:
      - error
      - cause
      properties:
        error:
          type: string
        cause:
          type: string
        objectId:
          type: string
externalDocs:
  description: Refer to the LSEG Developer Portal for additional documentation on the World-Check One API.
  url: https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/world-check-one-api
x-tagGroups:
- name: Upcoming Features and Changes
  tags:
  - upcoming
- name: Zero Footprint Screening
  tags:
  - zfs
- name: Case Management and Audit
  tags:
  - api-info
  - reference
  - group
  - case
  - audit
  - media-check
  - client-watchlist
  - user
  - passport-check
  - linked-cases
  - case-rating
  - smart-filter
  - reporting
