swagger: '2.0'
info:
  title: London Stock Exchange Group LSEG World-Check One Api-Info Case-Rating API
  description: 'The World-Check One API enables developers to integrate the next generation of LSEG screening capabilities into existing workflows and internal systems (such as CRMs) in order to help streamline the processes for on-boarding, KYC and third party due diligence.

    The API provides, among other features:

    - The ability to screen entity names, with or without secondary fields such as date of birth for individuals. These names are called “cases” within the World-Check One system.

    - The ability to retrieve results of the screening process from the World-Check database

    - The ability to flag cases for Ongoing Screening, and retrieve the World-Check results from the Ongoing Screening process.

    - The ability to submit request for reports.

    - The ability to fetch the status of the report requests and download the completed reports.

    > © 2018 - 2023 LSEG. All rights reserved. Republication or redistribution of LSEG content, including by framing or similar means, is prohibited without the prior written consent of LSEG. ''LSEG'' and the LSEG logo are registered trademarks and trademarks of LSEG and its affiliated companies.

    '
  version: 2.61.0
  termsOfService: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
  contact:
    name: LSEG World-Check One API Q&A
    url: https://community.developers.refinitiv.com/index.html
    email: c3r.api1@lseg.com
  license:
    name: Commercial
    url: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
host: api-worldcheck.refinitiv.com
basePath: /v2
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/octet-stream
tags:
- name: Case-Rating
  description: Operations for the rating domain.
paths:
  /cases/{caseSystemId}/rating:
    get:
      operationId: retrieveCaseRating
      tags:
      - Case-Rating
      summary: London Stock Exchange Group Retrieve a case rating
      description: 'Retrieve the case rating in the case provided in the request path.

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for a case.
        required: true
        type: string
      responses:
        200:
          description: Cases rating has been successfully retrieved.
          schema:
            $ref: '#/definitions/CaseRatingResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
    put:
      operationId: saveCaseRating
      tags:
      - Case-Rating
      summary: London Stock Exchange Group Update a case rating
      description: "Update the case rating in the case provided in the request path.\nThe request contains a detailed reason to make it easier to resolve a case based on screening results.\nThe reason is not a required field in the request.\n\n**Example HTTP request**\n\n```\n    {\n      \"caseRating\": \"HIGH\",\n      \"reason\": \"The reason\"\n    }\n```\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for a case.
        required: true
        type: string
      - name: caseRatingRequest
        in: body
        description: The object representing a case rating.
        required: true
        schema:
          $ref: '#/definitions/CaseRatingRequest'
      responses:
        204:
          description: Cases rating has been successfully updated.
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
definitions:
  CaseRatingResponse:
    description: 'Retrieved case rating for a Case data response.

      '
    type: object
    properties:
      caseRating:
        type: string
        description: The case rating types.
        enum:
        - NO_RISK
        - LOW
        - MEDIUM
        - HIGH
        - UNKNOWN
        - NOT_RATED
      reason:
        type: string
        maxLength: 1000
        description: The reason for setting the new case rating type of the case.
      createdDate:
        type: string
        format: date-time
        description: The date and time the case was created.
      createdBy:
        type: string
        description: The user who created the Case rating.
  CaseRatingRequest:
    type: object
    description: The object representing a case rating.
    required:
    - caseRating
    properties:
      caseRating:
        type: string
        description: The case rating types.
        enum:
        - NO_RISK
        - LOW
        - MEDIUM
        - HIGH
        - UNKNOWN
        - NOT_RATED
      reason:
        type: string
        maxLength: 1000
        description: The reason for setting the new case rating type of the case.
  Error:
    type: object
    required:
    - error
    - cause
    properties:
      error:
        type: string
      cause:
        type: string
      objectId:
        type: string
responses:
  BadRequest:
    description: Bad request
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  UnsupportedMediaType:
    description: For requests with payloads, an unsupported Content-Type was specified. The World-Check One API only supports a content type of application/json.
  CannotReturnResponse:
    description: Cannot return response
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  TooManyRequests:
    description: The API client is making too many concurrent requests, and some are being throttled. Throttled requests can be retried (with an updated request Date and HTTP signature) after a short delay.
  UnexpectedError:
    description: Unexpected error
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  Unauthorized:
    description: The request has failed an authorisation check. This can happen for a variety of reasons, such as an invalid or expired API key, an invalid HMAC signature or a request timing issue/problem with the Date header value. The API client should ensure a correctly synchronised clock is used to generate request timestamps.
externalDocs:
  description: Refer to the LSEG Developer Portal for additional documentation on the World-Check One API.
  url: https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/world-check-one-api
x-tagGroups:
- name: Upcoming Features and Changes
  tags:
  - upcoming
- name: Zero Footprint Screening
  tags:
  - zfs
- name: Case Management and Audit
  tags:
  - api-info
  - reference
  - group
  - case
  - audit
  - media-check
  - client-watchlist
  - user
  - passport-check
  - linked-cases
  - case-rating
  - smart-filter
  - reporting
