swagger: '2.0'
info:
  title: London Stock Exchange Group LSEG World-Check One Api-Info Smart-Filter API
  description: 'The World-Check One API enables developers to integrate the next generation of LSEG screening capabilities into existing workflows and internal systems (such as CRMs) in order to help streamline the processes for on-boarding, KYC and third party due diligence.

    The API provides, among other features:

    - The ability to screen entity names, with or without secondary fields such as date of birth for individuals. These names are called “cases” within the World-Check One system.

    - The ability to retrieve results of the screening process from the World-Check database

    - The ability to flag cases for Ongoing Screening, and retrieve the World-Check results from the Ongoing Screening process.

    - The ability to submit request for reports.

    - The ability to fetch the status of the report requests and download the completed reports.

    > © 2018 - 2023 LSEG. All rights reserved. Republication or redistribution of LSEG content, including by framing or similar means, is prohibited without the prior written consent of LSEG. ''LSEG'' and the LSEG logo are registered trademarks and trademarks of LSEG and its affiliated companies.

    '
  version: 2.61.0
  termsOfService: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
  contact:
    name: LSEG World-Check One API Q&A
    url: https://community.developers.refinitiv.com/index.html
    email: c3r.api1@lseg.com
  license:
    name: Commercial
    url: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
host: api-worldcheck.refinitiv.com
basePath: /v2
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/octet-stream
tags:
- name: Smart-Filter
  description: Operations for the smart filter domain.
paths:
  /cases/{caseSystemId}/mediacheck/smartFilter:
    get:
      operationId: getMediaCheckSmartFilter
      tags:
      - Smart-Filter
      summary: London Stock Exchange Group Retrieve smart filter on a case
      description: 'Retrieve the smart filter state on the case provided in the request path.

        The request body should be empty for the case provided in the request path (''caseSystemId'').

        The case should be created with enabled mediacheck provider.

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for a case.
        required: true
        type: string
      responses:
        200:
          description: The smart filter on the case retrieved.
          schema:
            $ref: '#/definitions/SmartFilterResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
    put:
      operationId: enableSmartFilterOnCase
      tags:
      - Smart-Filter
      summary: London Stock Exchange Group Enable smart filter on a case
      description: 'Update the smart filter state on the case provided in the request path.

        The group setting "Allow users to enable/disable the Smart Filter" should be equal to true to have the ability to update the smart filter state on the case.

        The request body should be empty for the case provided in the request path (''caseSystemId'').

        The case should be created with enabled mediacheck provider. If the smart filter has already enabled then the smart filter status will not be updated.

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for a case.
        required: true
        type: string
      responses:
        204:
          description: The smart filter on the case enabled.
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
    delete:
      operationId: disableSmartFilterOnCase
      tags:
      - Smart-Filter
      summary: London Stock Exchange Group Disable smart filter on a case
      description: 'Update the smart filter state on the case provided in the request path.

        The group setting "Allow users to enable/disable the Smart Filter" should be equal to true to have the ability to update the smart filter state on the case.

        The request body should be empty for the case provided in the request path (''caseSystemId'').

        The case should be created with enabled mediacheck provider. If the smart filter has already disabled then the smart filter status will not be updated.

        '
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for a case.
        required: true
        type: string
      responses:
        204:
          description: The smart filter on the case disabled.
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
definitions:
  Error:
    type: object
    required:
    - error
    - cause
    properties:
      error:
        type: string
      cause:
        type: string
      objectId:
        type: string
  SmartFilterResponse:
    description: 'Retrieved smart filter state on a Case.

      '
    type: object
    properties:
      smartFilter:
        type: boolean
        description: 'Flag indicating whether smart filter state on the case.

          The default value fetched from the group setting "Allow users to enable/disable the Smart Filter".

          '
responses:
  Unauthorized:
    description: The request has failed an authorisation check. This can happen for a variety of reasons, such as an invalid or expired API key, an invalid HMAC signature or a request timing issue/problem with the Date header value. The API client should ensure a correctly synchronised clock is used to generate request timestamps.
  BadRequest:
    description: Bad request
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  UnsupportedMediaType:
    description: For requests with payloads, an unsupported Content-Type was specified. The World-Check One API only supports a content type of application/json.
  CannotReturnResponse:
    description: Cannot return response
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  TooManyRequests:
    description: The API client is making too many concurrent requests, and some are being throttled. Throttled requests can be retried (with an updated request Date and HTTP signature) after a short delay.
  UnexpectedError:
    description: Unexpected error
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
externalDocs:
  description: Refer to the LSEG Developer Portal for additional documentation on the World-Check One API.
  url: https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/world-check-one-api
x-tagGroups:
- name: Upcoming Features and Changes
  tags:
  - upcoming
- name: Zero Footprint Screening
  tags:
  - zfs
- name: Case Management and Audit
  tags:
  - api-info
  - reference
  - group
  - case
  - audit
  - media-check
  - client-watchlist
  - user
  - passport-check
  - linked-cases
  - case-rating
  - smart-filter
  - reporting
