swagger: '2.0'
info:
  title: London Stock Exchange Group LSEG World-Check One Api-Info Linked-Cases API
  description: 'The World-Check One API enables developers to integrate the next generation of LSEG screening capabilities into existing workflows and internal systems (such as CRMs) in order to help streamline the processes for on-boarding, KYC and third party due diligence.

    The API provides, among other features:

    - The ability to screen entity names, with or without secondary fields such as date of birth for individuals. These names are called “cases” within the World-Check One system.

    - The ability to retrieve results of the screening process from the World-Check database

    - The ability to flag cases for Ongoing Screening, and retrieve the World-Check results from the Ongoing Screening process.

    - The ability to submit request for reports.

    - The ability to fetch the status of the report requests and download the completed reports.

    > © 2018 - 2023 LSEG. All rights reserved. Republication or redistribution of LSEG content, including by framing or similar means, is prohibited without the prior written consent of LSEG. ''LSEG'' and the LSEG logo are registered trademarks and trademarks of LSEG and its affiliated companies.

    '
  version: 2.61.0
  termsOfService: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
  contact:
    name: LSEG World-Check One API Q&A
    url: https://community.developers.refinitiv.com/index.html
    email: c3r.api1@lseg.com
  license:
    name: Commercial
    url: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
host: api-worldcheck.refinitiv.com
basePath: /v2
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/octet-stream
tags:
- name: Linked-Cases
  description: Operations for the linked cases domain.
paths:
  /cases/{caseSystemId}/relationship/{relationshipType}:
    post:
      operationId: getRelationshipIdentifiers
      tags:
      - Linked-Cases
      summary: London Stock Exchange Group Retrieve the list of case relationships
      description: "Retrieve the list of case relationships with cases linked to it.\n\nRelationship type strategies examples:\n\n * `primary-to-subcase` : declares `caseSystemId` as a primary case and lists cases linked to it with\n                          `primary-to-subcase` relationship type.\n * `subcase-to-primary` : declares `caseSystemId` as a subcase and lists cases linked to it with\n                          `subcase-to-primary` relationship type.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for a Case
        required: true
        type: string
      - name: relationshipType
        in: path
        description: Relationship type between cases. Multiple comma separated values allowed
        required: true
        type: array
        uniqueItems: true
        items:
          type: string
          enum:
          - primary-to-subcase
          - subcase-to-primary
      - name: caseRelationshipRequest
        in: body
        description: Request containing pagination to list case relationships.
        required: true
        schema:
          $ref: '#/definitions/CaseRelationshipRequest'
      responses:
        200:
          description: Response containing the list of relationships between cases
          schema:
            $ref: '#/definitions/CaseRelationshipResponse'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
    put:
      operationId: linkingCases
      tags:
      - Linked-Cases
      summary: London Stock Exchange Group Create links between cases
      description: "Create links between cases based on relationship type strategy(`relationshipType`).\n\n**Note:** There is a maximum number of World-Check One relationships between cases:\n* Maximum 500 primary cases are allowed per a subcase. \n* Maximum 50 subcases are allowed per a primary case.\n\nRelationship type strategies examples:\n\n * `primary-to-subcase` : declares `caseSystemId` as a primary case and cases listed in `linkedCasesRequest`\n                          as subcases which will be linked to a primary case.\n * `subcase-to-primary` : declares `caseSystemId` as a subcase and cases listed in `linkedCasesRequest`\n                          as primary cases which will be linked to a subcase.\n\n**Example HTTP request**\n\n```\n    {\n      \"relatedCaseSystemIds\":[\n        \"Case System ID 1\",\n        \"Case System ID 2\",\n      ]\n    }\n```\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for a case.
        required: true
        type: string
      - name: relationshipType
        in: path
        description: Relationship type between cases.
        required: true
        type: string
        enum:
        - primary-to-subcase
        - subcase-to-primary
      - name: linkedCasesRequest
        in: body
        description: Related case system IDs.
        required: true
        schema:
          $ref: '#/definitions/LinkedCasesRequest'
      responses:
        201:
          description: Links between cases have been created.
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
    delete:
      operationId: unlinkingCases
      tags:
      - Linked-Cases
      summary: London Stock Exchange Group Delete links between cases
      description: "Unlink cases based on relationship type strategy(`relationshipType`).\n\nRelationship type strategies examples:\n\n * `primary-to-subcase` : declares `caseSystemId` as a primary case and cases listed in `linkedCasesRequest`\n                          as subcases which will be unlinked from a primary case.\n * `subcase-to-primary` : declares `caseSystemId` as a subcase and cases listed in `linkedCasesRequest`\n                          as primary cases which will be unlinked from a subcase.\n"
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        type: string
        required: true
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        type: string
        required: true
      - name: Content-Type
        description: The media type of the request (e.g., 'application/json')
        in: header
        type: string
        required: true
      - name: Content-Length
        description: The length of the request body in octets (8-bit bytes)
        in: header
        type: integer
        required: true
      - name: caseSystemId
        in: path
        description: System generated ID for a Case.
        required: true
        type: string
      - name: relationshipType
        in: path
        description: Relationship type between cases.
        required: true
        type: string
        enum:
        - primary-to-subcase
        - subcase-to-primary
      - name: linkedCasesRequest
        in: body
        description: Related case system IDs.
        required: true
        schema:
          $ref: '#/definitions/LinkedCasesRequest'
      responses:
        204:
          description: Links between cases have been deleted.
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/CannotReturnResponse'
        415:
          $ref: '#/responses/UnsupportedMediaType'
        429:
          $ref: '#/responses/TooManyRequests'
        500:
          $ref: '#/responses/UnexpectedError'
definitions:
  RelationshipIdentifiers:
    type: object
    description: Relationship identifer between cases
    properties:
      sourceCaseSystemId:
        type: string
        description: CaseSystemId declared as source (primary) case
        maxLength: 192
      targetCaseSystemId:
        type: string
        description: CaseSystemId declared as target (subcase) case
        maxLength: 192
      relationshipType:
        type: string
        description: Relationship type between cases.
        enum:
        - SUBCASE_TO_PRIMARY
        - PRIMARY_TO_SUBCASE
  LinkedCasesRequest:
    type: object
    required:
    - relatedCaseSystemIds
    properties:
      relatedCaseSystemIds:
        type: array
        description: Related case system IDs.
        uniqueItems: true
        minItems: 1
        maxItems: 25
        items:
          type: string
      note:
        type: string
        maxLength: 1000
        description: Note added by the user.
    example:
      relatedCaseSystemIds:
      - relatedCaseSystemId1
      - relatedCaseSystemId2
      - relatedCaseSystemId3
      note: Audit note
  CaseRelationshipRequest:
    type: object
    description: Request to hold pagination details for listing case relationships.
    properties:
      pagination:
        description: Pagination details
        $ref: '#/definitions/Pagination'
  PaginationResponseDetails:
    type: object
    description: Pagination details.
    properties:
      currentPage:
        type: integer
        description: The current page
        format: int32
      itemsPerPage:
        type: integer
        description: The number of items per page
        format: int32
      totalItems:
        type: integer
        description: Total number of items available
        format: int64
  CaseRelationshipResponse:
    type: object
    description: The result set of relationships between cases.
    properties:
      pagination:
        description: Pagination details
        $ref: '#/definitions/PaginationResponseDetails'
      totalResultCount:
        type: integer
        description: The total results count
        format: int64
      results:
        type: array
        description: List of relationship identifiers
        items:
          $ref: '#/definitions/RelationshipIdentifiers'
  Pagination:
    type: object
    description: Inbound - the pagination to apply to the query.
    required:
    - currentPage
    - itemsPerPage
    properties:
      currentPage:
        type: integer
        format: int32
      itemsPerPage:
        type: integer
        format: int32
  Error:
    type: object
    required:
    - error
    - cause
    properties:
      error:
        type: string
      cause:
        type: string
      objectId:
        type: string
responses:
  BadRequest:
    description: Bad request
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  UnsupportedMediaType:
    description: For requests with payloads, an unsupported Content-Type was specified. The World-Check One API only supports a content type of application/json.
  CannotReturnResponse:
    description: Cannot return response
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  TooManyRequests:
    description: The API client is making too many concurrent requests, and some are being throttled. Throttled requests can be retried (with an updated request Date and HTTP signature) after a short delay.
  UnexpectedError:
    description: Unexpected error
    schema:
      type: array
      items:
        $ref: '#/definitions/Error'
  Unauthorized:
    description: The request has failed an authorisation check. This can happen for a variety of reasons, such as an invalid or expired API key, an invalid HMAC signature or a request timing issue/problem with the Date header value. The API client should ensure a correctly synchronised clock is used to generate request timestamps.
externalDocs:
  description: Refer to the LSEG Developer Portal for additional documentation on the World-Check One API.
  url: https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/world-check-one-api
x-tagGroups:
- name: Upcoming Features and Changes
  tags:
  - upcoming
- name: Zero Footprint Screening
  tags:
  - zfs
- name: Case Management and Audit
  tags:
  - api-info
  - reference
  - group
  - case
  - audit
  - media-check
  - client-watchlist
  - user
  - passport-check
  - linked-cases
  - case-rating
  - smart-filter
  - reporting
