openapi: 3.2.0
info:
  title: London Stock Exchange Group LSEG World-Check One User API
  description: The World-Check One API enables developers to integrate the next generation of LSEG screening capabilities into existing workflows and internal systems (such as CRMs) in order to help streamline the processes for on-boarding, KYC and third party due diligence.
  version: 2.61.0
  termsOfService: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
  contact:
    name: LSEG World-Check One API Q&A
    url: https://community.developers.refinitiv.com/index.html
    email: c3r.api1@lseg.com
  license:
    name: Commercial
    url: https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification
servers:
- url: https://api-worldcheck.refinitiv.com/v2
tags:
- name: User
  description: Operations for the user domain.
paths:
  /users:
    get:
      operationId: getUsers
      tags:
      - User
      summary: London Stock Exchange Group Get a list of active users in the client's account
      description: Get a list of active users in the client's account.
      parameters:
      - name: Authorization
        description: The authorization credentials including 'keyId', 'algorithm', 'headers', 'signature' (see 'Security and Authentication details' documentation section for more details)
        in: header
        required: true
        schema:
          type: string
      - name: Date
        description: The date and time at which the message was originated in 'RFC 1123' format
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: A list of active users in the client's account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserSummary'
            application/octet-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserSummary'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/CannotReturnResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/UnexpectedError'
components:
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
        application/octet-stream:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
    CannotReturnResponse:
      description: Cannot return response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
        application/octet-stream:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: The API client is making too many concurrent requests, and some are being throttled. Throttled requests can be retried (with an updated request Date and HTTP signature) after a short delay.
    Unauthorized:
      description: The request has failed an authorisation check. This can happen for a variety of reasons, such as an invalid or expired API key, an invalid HMAC signature or a request timing issue/problem with the Date header value. The API client should ensure a correctly synchronised clock is used to generate request timestamps.
    UnexpectedError:
      description: Unexpected error
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
        application/octet-stream:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
    UnsupportedMediaType:
      description: For requests with payloads, an unsupported Content-Type was specified. The World-Check One API only supports a content type of application/json.
  schemas:
    UserSummary:
      type: object
      required:
      - userId
      - fullName
      - email
      - status
      properties:
        userId:
          type: string
          maxLength: 255
          description: Identifier of the User
        fullName:
          type: string
          maxLength: 2001
          description: Full name of the User
        firstName:
          type: string
          maxLength: 1000
          description: First name of the User
        lastName:
          type: string
          maxLength: 1000
          description: Last name of the User
        email:
          type: string
          maxLength: 1000
          description: Email address of the User
        status:
          $ref: '#/components/schemas/StatusType'
        uuid:
          type: string
          description: AAA UUID of the User.
          maxLength: 192
        loginAccountStatus:
          description: The status of the User login account.
          allOf:
          - $ref: '#/components/schemas/AccelusUserLoginAccountStatus'
        lastLoginDate:
          type: string
          description: User's last login date and time in 'UTC' timezone.
          format: date-time
    AccelusUserLoginAccountStatus:
      type: string
      description: The status of the User login account.
      enum:
      - NOT_REGISTERED
      - REGISTERED
      - FIRST_TIME_LOGIN_COMPLETED
    Error:
      type: object
      required:
      - error
      - cause
      properties:
        error:
          type: string
        cause:
          type: string
        objectId:
          type: string
    StatusType:
      type: string
      description: Enumeration of Status types
      enum:
      - ACTIVE
      - INACTIVE
      - DELETED
externalDocs:
  description: Refer to the LSEG Developer Portal for additional documentation on the World-Check One API.
  url: https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/world-check-one-api
x-tagGroups:
- name: Upcoming Features and Changes
  tags:
  - upcoming
- name: Zero Footprint Screening
  tags:
  - zfs
- name: Case Management and Audit
  tags:
  - api-info
  - reference
  - group
  - case
  - audit
  - media-check
  - client-watchlist
  - user
  - passport-check
  - linked-cases
  - case-rating
  - smart-filter
  - reporting
